<div style="
    background: linear-gradient(135deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
    padding: 4rem 2rem;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 2rem 0;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
">
  <img src="\data_bootcamp\numpy_pandas\img\up.png" width="200"/>
  
  <h1 style="font-size: 2.5em; margin: 10px 0;"><strong>Bootcamp de Análisis de Datos & IA</strong></h1>
<div style="
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 100\"><defs><pattern id=\"grid\" width=\"10\" height=\"10\" patternUnits=\"userSpaceOnUse\"><path d=\"M 10 0 L 0 0 0 10\" fill=\"none\" stroke=\"rgba(255,255,255,0.1)\" stroke-width=\"0.5\"/></pattern></defs><rect width=\"100\" height=\"100\" fill=\"url(%23grid)\"/></svg>
</div>
<div style="position: relative; z-index: 10;">

<h1 style="
    font-size: 3.5rem;
    font-weight: 900;
    color: #ffffff;
    margin: 1rem 0;
    text-shadow: 0 0 30px rgba(255,255,255,0.8);
    letter-spacing: 2px;
    font-family: 'Arial Black', sans-serif;
">INTRODUCCIÓN A PANDAS</h1>

<div style="
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 2rem auto;
    max-width: 1000px;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
">
    <div style="
        color: #50fa7b;
        font-family: 'Courier New', monospace;
        font-size: 1.2rem;
        text-align: left;
    ">
        <span style="color: #ff79c6;">>>> </span>import pandas as pd<br>
        <span style="color: #50fa7b;">¡Listo para explorar datos!</span><br>
        <span style="color: #ff79c6;">>>> </span>ready_to_code = <span style="color: #bd93f9;">True</span> ✨
    </div>
</div>

<div style="
    padding: 1.5rem;
    background: rgba(193, 239, 67, 0.99);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.1);
    max-width: 1000px;
    gap: 1.5rem;
    margin: 2rem auto;
">
<h4 style="color: rgba(0, 0, 0, 1); margin-bottom: 1rem;">
    🎓 Contenidos de la clase:
</h4>

<div style="
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    text-align: center;
    margin: 2rem auto;
    max-width: 900px;
">
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ ¿Qué es Pandas y por qué es útil?</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Instalación e importación</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Series y DataFrames</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Creación de datos (Series, DataFrames, CSV/Excel)</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Primer vistazo a los datos (head, tail, info, describe)</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Acceso y filtrado de datos</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Manipulación: añadir, eliminar, renombrar, fillna/dropna</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Operaciones y agrupación</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Trabajo con archivos externos</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Visualización básica y mini proyecto final</div>
</div>
</div>

<div style="
    background: linear-gradient(45deg, #ff6b6b, #ee5a24, #ff6b6b);
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 10px 30px rgba(255,107,107,0.4);
    display: inline-block;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 1000px;
">
🚀 COMENZAR CLASE 🚀
</div>

</div>
</div>

# 📚 1. Introducción a Pandas

## 1.1. ¿Qué es Pandas y por qué es útil?
**Pandas** es una librería de Python diseñada para la **manipulación y análisis de datos**.  
Permite trabajar con estructuras de datos **flexibles y rápidas**, facilitando tareas como:

- Lectura y escritura de archivos (CSV, Excel, SQL, etc.)  
- Limpieza y transformación de datos  
- Cálculos estadísticos y agregaciones  
- Visualización básica de datos  

👉 Es una de las librerías más utilizadas en **ciencia de datos, análisis empresarial y machine learning**, ya que simplifica mucho el trabajo con datos tabulares.

---

## ⚙️ 1.2. Instalación e importación
Para instalar Pandas, ejecuta en la terminal o consola de Python:

In [ ]:
#pip install pandas

Para importar Pandas en tu script o notebook, usa:

In [1]:
import pandas as pd

## 🔎 1.3. Tipos de datos en Pandas: Series y DataFrames

Pandas trabaja principalmente con **dos estructuras de datos**: Series y Dataframes.

---

### 1️⃣ Series
Una **Serie** es un **array unidimensional con etiquetas** (índices).  
Se puede imaginar como una columna de Excel con un índice asociado.


### 2️⃣ DataFrame

Un DataFrame es una estructura bidimensional en forma de tabla, con filas y columnas.
Cada columna es en realidad una Serie.


> 📌 Tip: piensa en un DataFrame como una hoja de cálculo y en una Serie como una sola columna de esa hoja.

# ✨ 2. Creación de datos en Pandas

En este apartado aprenderemos a crear datos en Pandas y a dar un **primer vistazo** a ellos.

### 2.1. Crear Series

In [5]:
# Crear una Serie a partir de una lista
serie = pd.Series([10, 20, 30, 40], name="Edades")
print(serie)

0    10
1    20
2    30
3    40
Name: Edades, dtype: int64

### 2.2. Crear DataFrames

#### Desde un diccionario

In [ ]:
datos = {
    "Nombre": ["Ana", "Luis", "María"],
    "Edad": [23, 35, 29],
    "Ciudad": ["Madrid", "Sevilla", "Valencia"]
}

df = pd.DataFrame(datos)
print(df)

  Nombre  Edad    Ciudad
0    Ana    23    Madrid
1   Luis    35   Sevilla
2  María    29  Valencia

#### Desde una lista de listas

In [8]:
#Desde una lista de listas
df_lista = pd.DataFrame(
    [["Ana", 23], ["Luis", 35], ["María", 29]],
    columns=["Nombre", "Edad"]
)
print(df_lista)

  Nombre  Edad
0    Ana    23
1   Luis    35
2  María    29

#### Desde arcvhivos CSV/Excel

In [17]:
import os
print("Current working directory:", os.getcwd())

Current working directory: c:\Users\amval\Documents\bootcamp_ug\data_bootcamp\numpy_pandas\teoría\03-Pandas

In [112]:
# Leer CSV
df_csv = pd.read_csv("../../data/ncr_ride_bookings.csv")

In [66]:

#Leer Excel
df_excel = pd.read_excel(r"..\..\data\DTM_Mixed Migration Flows to Europe_Yearly_2024_1.xlsx", sheet_name = "First_Arrival_Countries_CoO")

### 2.3. Una primera mirada a los datos

Existen varios métodos para obtener una visión rápida de los datos en un DataFrame. Algunos de los más útiles son:

## Métodos para la primera exploración de un DataFrame

| Método         | Descripción                                      |
|----------------|--------------------------------------------------|
| `head(n)`      | Muestra las primeras `n` filas del DataFrame.    |
| `tail(n)`      | Muestra las últimas `n` filas del DataFrame.     |
| `info()`       | Proporciona un resumen conciso del DataFrame.    |
| `describe()`   | Genera estadísticas descriptivas del DataFrame.  |
| `shape`        | Devuelve una tupla con el número de filas y columnas. |
| `columns`      | Lista los nombres de las columnas del DataFrame. |
| `dtypes`       | Muestra el tipo de datos de cada columna.        |

In [11]:
#Ver las primeras filas del DataFrame. Entre paréntesis se puede indicar el número de filas a mostrar. Por defecto son 5.
df_excel.head()

,Date,Year,Month,ISO3 - Country of origin,ISO3 - Country of arrival,Route,Arrivals,Source
0,2024-01-31,2024,1,BGD,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,2024-01-31,2024,1,EGY,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,2024-01-31,2024,1,PAK,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,2024-01-31,2024,1,SDN,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,2024-01-31,2024,1,SYR,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [12]:
#Ver las últimas filas del DataFrame. Entre paréntesis se puede indicar el número de filas a mostrar. Por defecto son 5.
df_excel.tail(5)

,Date,Year,Month,ISO3 - Country of origin,ISO3 - Country of arrival,Route,Arrivals,Source
1684,2024-12-31,2024,12,EGY,BGR,EMR,12,Bulgarian Ministry of Interior
1685,2024-12-31,2024,12,IRQ,BGR,EMR,12,Bulgarian Ministry of Interior
1686,2024-12-31,2024,12,MAR,BGR,EMR,33,Bulgarian Ministry of Interior
1687,2024-12-31,2024,12,OOO,BGR,EMR,36,Bulgarian Ministry of Interior
1688,2024-12-31,2024,12,SYR,BGR,EMR,61,Bulgarian Ministry of Interior

In [14]:
#Con info podemos ver un resumen del DataFrame, incluyendo el número de entradas, el número de columnas, los nombres de las columnas, 
#el tipo de datos de cada columna y la cantidad de memoria utilizada.
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1689 entries, 0 to 1688
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       1689 non-null   datetime64[ns]
 1   Year                       1689 non-null   int64
 2   Month                      1689 non-null   int64
 3   ISO3 - Country of origin   1689 non-null   object
 4   ISO3 - Country of arrival  1689 non-null   object
 5   Route                      1689 non-null   object
 6   Arrivals                   1689 non-null   int64
 7   Source                     1689 non-null   object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 105.7+ KB

In [16]:
# describe devuelve estadísticas básicas de las columnas numéricas del DataFrame, como la media, la desviación estándar, los valores mínimo y máximo, y los percentiles.
df_excel.describe()

                                Date    Year        Month     Arrivals
count                           1689  1689.0  1689.000000  1689.000000
mean   2024-07-20 12:46:27.921847296  2024.0     6.653641   123.687981
min              2024-01-31 00:00:00  2024.0     1.000000  -341.000000
25%              2024-04-30 00:00:00  2024.0     4.000000     3.000000
50%              2024-07-31 00:00:00  2024.0     7.000000    11.000000
75%              2024-10-31 00:00:00  2024.0    10.000000    79.000000
max              2024-12-31 00:00:00  2024.0    12.000000  4232.000000
std                              NaN     0.0     3.466527   343.436107

In [19]:
#Saber el número de filas y columnas del DataFrame. Devuelve una tupla (número de filas, número de columnas).
df_excel.shape

(1689, 8)

In [20]:
# Saber los nombres de las columnas del DataFrame
df_excel.columns

Index(['Date', 'Year', 'Month', 'ISO3 - Country of origin',
       'ISO3 - Country of arrival', 'Route', 'Arrivals', 'Source'],
      dtype='object')

In [21]:
# Saber el tipo de datos de cada columna
df_excel.dtypes

Date                         datetime64[ns]
Year                                  int64
Month                                 int64
ISO3 - Country of origin             object
ISO3 - Country of arrival            object
Route                                object
Arrivals                              int64
Source                               object
dtype: object

# 🕵️‍♂️ 3. Exploración básica de datos con Pandas

Una vez que tenemos nuestro **DataFrame**, necesitamos aprender a **explorar y seleccionar datos**.  
En este bloque veremos cómo acceder a **columnas y filas**, aplicar **filtros con condiciones** y **ordenar los datos**.

## 📌 Manipulación de índices

El **índice** en Pandas identifica cada fila de un DataFrame o Serie.  
Saber cómo manipularlo es clave para **seleccionar, ordenar y alinear datos** correctamente.

In [ ]:
# Revisar el índice del DataFrame
df_excel.index

RangeIndex(start=0, stop=1689, step=1)

In [69]:
# Renombrar el índice
df_excel.index.name = 'Row_ID'
df_excel.head()

,Date,Year,Month,ISO3 - Country of origin,ISO3 - Country of arrival,Route,Arrivals,Source
Row_ID,,,,,,,,
0,2024-01-31,2024,1,BGD,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,2024-01-31,2024,1,EGY,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,2024-01-31,2024,1,PAK,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,2024-01-31,2024,1,SDN,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,2024-01-31,2024,1,SYR,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [67]:
# Resetear el índice a los valores por defecto (0, 1, 2, ...)
df_excel.reset_index(drop=True, inplace=True)
df_excel.head()

,Date,Year,Month,ISO3 - Country of origin,ISO3 - Country of arrival,Route,Arrivals,Source
0,2024-01-31,2024,1,BGD,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,2024-01-31,2024,1,EGY,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,2024-01-31,2024,1,PAK,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,2024-01-31,2024,1,SDN,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,2024-01-31,2024,1,SYR,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [70]:
# Establecer una columna como índice. Sirve para identificar filas de forma única. Se aplica si la columna tiene valores únicos.
df_excel.set_index('ISO3 - Country of origin', inplace=True)
df_excel.head()

,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
ISO3 - Country of origin,,,,,,,
BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [72]:
# Volver al índice por defecto
df_excel.reset_index(inplace=True)
df_excel.head()

,index,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
0,0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

## 📌 Acceso a columnas y filas

In [73]:
# Acceso a una columna específica
df_excel['ISO3 - Country of origin']

0       BGD
1       EGY
2       PAK
3       SDN
4       SYR
       ...
1684    EGY
1685    IRQ
1686    MAR
1687    OOO
1688    SYR
Name: ISO3 - Country of origin, Length: 1689, dtype: object

In [74]:
# Acceder a varias columnas
df_excel[['ISO3 - Country of origin', 'Year']]

     ISO3 - Country of origin  Year
0                         BGD  2024
1                         EGY  2024
2                         PAK  2024
3                         SDN  2024
4                         SYR  2024
...                       ...   ...
1684                      EGY  2024
1685                      IRQ  2024
1686                      MAR  2024
1687                      OOO  2024
1688                      SYR  2024

[1689 rows x 2 columns]

In [75]:
# Acceso a filas por posición (iloc)
df_excel.iloc[0]  # Primera fila

index                                                                        0
ISO3 - Country of origin                                                   BGD
Date                                                       2024-01-31 00:00:00
Year                                                                      2024
Month                                                                        1
ISO3 - Country of arrival                                                  MLT
Route                                                                      CMR
Arrivals                                                                     7
Source                       Maltese Minitry of Home Affairs, Security and ...
Name: 0, dtype: object

In [76]:
#Acceso a filas por etiqueta (loc)
df_excel.loc[0]  # Fila con etiqueta 0

index                                                                        0
ISO3 - Country of origin                                                   BGD
Date                                                       2024-01-31 00:00:00
Year                                                                      2024
Month                                                                        1
ISO3 - Country of arrival                                                  MLT
Route                                                                      CMR
Arrivals                                                                     7
Source                       Maltese Minitry of Home Affairs, Security and ...
Name: 0, dtype: object

In [77]:
# Acceder a varias filas y varias columnas con loc.
df_excel.loc[0:5, ['ISO3 - Country of origin', 'Year']]

  ISO3 - Country of origin  Year
0                      BGD  2024
1                      EGY  2024
2                      PAK  2024
3                      SDN  2024
4                      SYR  2024
5                      BGD  2024

## 📌 Filtrado de datos con condiciones

In [78]:
# Filtrar filas donde el Country of origin es 'SYR'
df_excel[df_excel['ISO3 - Country of origin'] == 'SYR']

,index,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
4,4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."
10,10,SYR,2024-02-29,2024,2,MLT,CMR,11,"Maltese Minitry of Home Affairs, Security and ..."
11,11,SYR,2024-03-31,2024,3,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
14,14,SYR,2024-07-31,2024,7,MLT,CMR,25,"Maltese Minitry of Home Affairs, Security and ..."
15,15,SYR,2024-08-31,2024,8,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
...,...,...,...,...,...,...,...,...,...
1664,1664,SYR,2024-08-31,2024,8,BGR,EMR,1154,Bulgarian Ministry of Interior
1670,1670,SYR,2024-09-30,2024,9,BGR,EMR,762,Bulgarian Ministry of Interior
1676,1676,SYR,2024-10-31,2024,10,BGR,EMR,365,Bulgarian Ministry of Interior
1682,1682,SYR,2024-11-30,2024,11,BGR,EMR,263,Bulgarian Ministry of Interior
1688,1688,SYR,2024-12-31,2024,12,BGR,EMR,61,Bulgarian Ministry of Interior

In [79]:
# Filtrar por varias condiciones: Country of origin es 'SYR' y Country of first arrival es 'GRC'
df_excel[(df_excel['ISO3 - Country of origin'] == 'SYR') & (df_excel['ISO3 - Country of arrival'] == 'GRC')]

,index,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
508,508,SYR,2024-01-31,2024,1,GRC,EMR,510,"Hellenic Coast Guard, Greek Ministry of Interior"
540,540,SYR,2024-02-29,2024,2,GRC,EMR,645,"Hellenic Coast Guard, Greek Ministry of Interior"
569,569,SYR,2024-03-31,2024,3,GRC,EMR,696,"Hellenic Coast Guard, Greek Ministry of Interior"
595,595,SYR,2024-04-30,2024,4,GRC,EMR,632,"Hellenic Coast Guard, Greek Ministry of Interior"
628,628,SYR,2024-05-31,2024,5,GRC,EMR,1720,"Hellenic Coast Guard, Greek Ministry of Interior"
658,658,SYR,2024-06-30,2024,6,GRC,EMR,1287,"Hellenic Coast Guard, Greek Ministry of Interior"
693,693,SYR,2024-07-31,2024,7,GRC,EMR,2522,"Hellenic Coast Guard, Greek Ministry of Interior"
727,727,SYR,2024-08-31,2024,8,GRC,EMR,3366,"Hellenic Coast Guard, Greek Ministry of Interior"
764,764,SYR,2024-09-30,2024,9,GRC,EMR,4097,"Hellenic Coast Guard, Greek Ministry of Interior"
797,797,SYR,2024-10-31,2024,10,GRC,EMR,2998,"Hellenic Coast Guard, Greek Ministry of Interior"
839,839,SYR,2024-11-30,2024,11,GRC,EMR,2201,"Hellenic Coast Guard, Greek Ministry of Interior"
876,876,SYR,2024-12-31,2024,12,GRC,EMR,604,"Hellenic Coast Guard, Greek Ministry of Interior"

## 📌 Ordenar y seleccionar datos

In [80]:

df_excel.sort_values(by='Date', ascending=True).head()  # Ordenar por la columna 'Date' en orden ascendente

,index,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
0,0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
499,499,MAR,2024-01-31,2024,1,GRC,EMR,2,"Hellenic Coast Guard, Greek Ministry of Interior"
500,500,MLI,2024-01-31,2024,1,GRC,EMR,2,"Hellenic Coast Guard, Greek Ministry of Interior"
501,501,NGA,2024-01-31,2024,1,GRC,EMR,4,"Hellenic Coast Guard, Greek Ministry of Interior"
502,502,OOO,2024-01-31,2024,1,GRC,EMR,16,"Hellenic Coast Guard, Greek Ministry of Interior"

In [81]:
# Ordenar por el índice en orden descendente
df_excel.sort_index(ascending=False).head()

,index,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
1688,1688,SYR,2024-12-31,2024,12,BGR,EMR,61,Bulgarian Ministry of Interior
1687,1687,OOO,2024-12-31,2024,12,BGR,EMR,36,Bulgarian Ministry of Interior
1686,1686,MAR,2024-12-31,2024,12,BGR,EMR,33,Bulgarian Ministry of Interior
1685,1685,IRQ,2024-12-31,2024,12,BGR,EMR,12,Bulgarian Ministry of Interior
1684,1684,EGY,2024-12-31,2024,12,BGR,EMR,12,Bulgarian Ministry of Interior

# 🔄 4. Transformaciones de datos
En este bloque aprenderemos a **manipular y transformar** nuestros datos en Pandas. 

Veremos cómo **añadir, eliminar y renombrar columnas**, así como manejar los valores faltantes con **fillna** y **dropna**.

Tabla de resumen de métodos para transformar datos en Pandas:
| Método               | Descripción                                      |
|----------------------|--------------------------------------------------|
| `assign()`           | Añade nuevas columnas al DataFrame.              |
| `drop()`             | Elimina filas o columnas del DataFrame.          |
| `rename()`           | Cambia los nombres de las columnas o índices.    |
| `fillna()`           | Rellena los valores faltantes con un valor específico o método. |
| `dropna()`           | Elimina filas o columnas con valores faltantes.   |

## 📌 Añadir, eliminar y renombrar columnas

In [48]:
# Añadir una nueva columna
df_excel['New_Column'] = 'Default_Value'
df_excel.head()

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source,New_Column
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ...",Default_Value

In [49]:
#Esto se puede utilizar para crear columnas basadas en cálculos o transformaciones de otras columnas. Por ejemplo:
df_excel['Year_plus_1'] = df_excel['Year'] + 1
df_excel.head()

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source,New_Column,Year_plus_1
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ...",Default_Value,2025
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",Default_Value,2025
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ...",Default_Value,2025
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",Default_Value,2025
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ...",Default_Value,2025

In [50]:
# Eliminar una columna
df_excel.drop(columns=['New_Column'], inplace=True)
df_excel.head()

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source,Year_plus_1
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ...",2025
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",2025
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ...",2025
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",2025
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ...",2025

In [51]:
# Eliminar varias columnas a la vez
df_excel.drop(columns=['Year_plus_1', 'Year'], inplace=True)
df_excel.head()

,ISO3 - Country of origin,Date,Month,ISO3 - Country of arrival,Route,Arrivals,Source
0,BGD,2024-01-31,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,EGY,2024-01-31,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,PAK,2024-01-31,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,SDN,2024-01-31,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,SYR,2024-01-31,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [52]:
# Renombrar columnas
df_excel.rename(
    columns={
        'ISO3 - Country of origin': 'Country_of_origin',
        'ISO3 - Country of arrival': 'Country_of_arrival'
    },
    inplace=True
)
df_excel.head()

,Country_of_origin,Date,Month,Country_of_arrival,Route,Arrivals,Source
0,BGD,2024-01-31,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,EGY,2024-01-31,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,PAK,2024-01-31,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,SDN,2024-01-31,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,SYR,2024-01-31,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [54]:
# Reordenar columnas
df_excel = df_excel[['Country_of_origin', 'Country_of_arrival', 'Date', 'Arrivals', 'Month', "Source"]]
df_excel.head()

,Country_of_origin,Country_of_arrival,Date,Arrivals,Month,Source
0,BGD,MLT,2024-01-31,7,1,"Maltese Minitry of Home Affairs, Security and ..."
1,EGY,MLT,2024-01-31,1,1,"Maltese Minitry of Home Affairs, Security and ..."
2,PAK,MLT,2024-01-31,22,1,"Maltese Minitry of Home Affairs, Security and ..."
3,SDN,MLT,2024-01-31,1,1,"Maltese Minitry of Home Affairs, Security and ..."
4,SYR,MLT,2024-01-31,4,1,"Maltese Minitry of Home Affairs, Security and ..."

## 📌 Manejo de valores nulos

En Pandas, los valores nulos o faltantes se representan con `NaN` (Not a Number).
Se pueden manejar de varias formas:
- **Rellenar valores nulos**: Usando `fillna()`, puedes reemplazar los valores nulos con un valor específico, la media, la mediana, etc.
- **Eliminar valores nulos**: Con `dropna()`, puedes eliminar filas o columnas que contengan valores nulos.

> Importante! Asegúrate de entender bien el contexto de tus datos antes de decidir cómo manejar los valores nulos, ya que diferentes enfoques pueden afectar significativamente tus análisis posteriores.

In [113]:
# Remplazo de valores nulos
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [92]:
# Porcentaje de nulos por columna
(df_csv.isnull().sum() / len(df_csv)) * 100

Date                                  0.0
Time                                  0.0
Booking ID                            0.0
Booking Status                        0.0
Customer ID                           0.0
Vehicle Type                          0.0
Pickup Location                       0.0
Drop Location                         0.0
Avg VTAT                              7.0
Avg CTAT                             32.0
Cancelled Rides by Customer          93.0
Reason for cancelling by Customer    93.0
Cancelled Rides by Driver            82.0
Driver Cancellation Reason           82.0
Incomplete Rides                     94.0
Incomplete Rides Reason              94.0
Booking Value                        32.0
Ride Distance                        32.0
Driver Ratings                        0.0
Customer Rating                      38.0
Payment Method                       32.0
dtype: float64

**💡 Estrategia para manejar nulos**

- Para estadísticas y análisis generales, normalmente se prefieren columnas con menos nulos, por ejemplo:

    - Avg VTAT (~7% nulos)

    - Avg CTAT (~32% nulos) → todavía manejable con imputación

- Columnas como Cancelled Rides by Customer o Incomplete Rides tienen más del 90% nulos, lo que indica que:

    - Solo aplican a un subconjunto específico de datos. Lo mejor es no imputar valores, sino tratarlas como información condicional (por ejemplo, filtrar filas donde hay cancelaciones o rides incompletos).

- Columnas como Booking Value, Ride Distance y Payment Method (~32% nulos) pueden imputarse con cuidado, por ejemplo:

    - Rellenar valores faltantes con la media, mediana o categoría “Desconocido” si es categórica.

✅ Recomendación

- Para análisis general: Avg VTAT, Avg CTAT, Driver Ratings, Customer Rating → nulos relativamente bajos/moderados.

- Para análisis condicional (eventos específicos): Cancelled Rides by Customer, Cancelled Rides by Driver, Incomplete Rides → tratar nulos como 0 o no aplicable según el contexto.

- Columnas categóricas con nulos moderados: Payment Method → imputar con "Unknown" si se requiere completar datos.

In [ ]:
# Boking value tiene muchos nulos, se puede imputar con la media con fillna
df_csv['Booking Value'].fillna(df_csv['Booking Value'].mean(), inplace=True)

C:\Users\amval\AppData\Local\Temp\ipykernel_22680\813565267.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_csv['Booking Value'].fillna(df_csv['Booking Value'].mean(), inplace=True)

In [ ]:
# Con dropna podemos eliminar filas con nulos
df_csv.dropna(subset=['Booking Value'], inplace=True)

## 📌 Manejo y adecuación de los tipos de datos

In [ ]:
#

## 📌 Remplazo de valores

A veces es necesario reemplazar valores específicos en una columna, por ejemplo, para agrupar categorías similares o corregir errores tipográficos.
Antes de tomar una decisión sobre cómo manejar los valores nulos, es importante analizar la naturaleza de los datos y el contexto del análisis.

Por eso, se aplican métodos previos para explorar los datos y entender su distribución antes de decidir cómo proceder con el reemplazo o imputación de valores.

Algunos de los métodos más comunes para conocer los valores de las columnas son:
- `unique()`: Identifica los valores únicos en una columna, útil para entender qué valores pueden necesitar ser reemplazados.
- `value_counts()`: Cuenta la frecuencia de cada valor único en una columna, ayudando a identificar valores atípicos o errores.
- `nunique()`: Devuelve el número de valores únicos en una columna, proporcionando una visión rápida de la diversidad de datos.

In [94]:
# Identificar valores únicos en una columna
df_csv['Payment Method'].unique()

array([nan, 'UPI', 'Debit Card', 'Cash', 'Uber Wallet', 'Credit Card'],
      dtype=object)

In [95]:
# Identificar los valores y su frecuencia en una columna
df_csv['Payment Method'].value_counts()

Payment Method
UPI            45909
Cash           25367
Uber Wallet    12276
Credit Card    10209
Debit Card      8239
Name: count, dtype: int64

In [96]:
# con nunique podemos ver el número de valores únicos en una columna
df_csv['Payment Method'].nunique()

5

Una vez que se entienden los valores presentes en una columna, se pueden realizar las transformaciones necesarias, generalmente mediante remplazos.
Los métodos más comunes para reemplazar valores en una columna son:
- `replace()`: Permite reemplazar valores específicos en una columna o DataFrame.
- `map()`: Útil para reemplazar valores basados en un diccionario de mapeo.
- `apply()`: Permite aplicar una función personalizada para transformar los valores de una columna.

In [ ]:
# Remplazo de valores específicos en una columna con replace
df_csv['Payment Method'].replace({'Credit Card': 'Card', 'Debit Card': 'Card'}, inplace=True)

C:\Users\amval\AppData\Local\Temp\ipykernel_22680\439573507.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_csv['Payment Method'].replace({'Credit Card': 'Card', 'Debit Card': 'Card'}, inplace=True)

In [99]:
df_csv['Payment Method'].value_counts()

Payment Method
UPI            45909
Cash           25367
Card           18448
Uber Wallet    12276
Name: count, dtype: int64

In [ ]:
# Remplazo de valores con map. Hay que tener en cuenta que los valores que no estén en el diccionario se convierten en NaN
dict_map = {
    'eBike': 'Electric Bike',
    'Go Sedan': 'Gasoline Sedan',
    'Go Mini'   : 'Gasoline Mini'
}
df_csv['Vehicle Type'] = df_csv['Vehicle Type'].map(dict_map)

In [ ]:
# remplazo de valores con apply y una función personalizada
def standardize_payment_method(method):
    if method in ['Credit Card', 'Debit Card']:
        return 'Card'
    elif method in ['Cash', 'Mobile Payment']:
        return method
    else:
        return 'Other'
df_csv['Payment Method'] = df_csv['Payment Method'].apply(standardize_payment_method)
#Explicación: Una función personalizada llamada standardize_payment_method se define para estandarizar los métodos de pago.
#Gracias a los condicionales, los métodos 'Credit Card' y 'Debit Card' se reemplazan por 'Card', mientras que otros métodos se mantienen igual o se etiquetan como 'Other'.
#Esta función se aplica a cada valor de la columna 'Payment Method' utilizando el método apply, y los resultados se asignan de nuevo a la misma columna.

In [116]:
df_csv['Payment Method'].value_counts()

Payment Method
Other    106185
Cash      25367
Card      18448
Name: count, dtype: int64

## 📌 Columnas con valores condicionales



5. Operaciones con datos

Operaciones aritméticas y estadísticas básicas (sum(), mean(), median())

Agrupación y resumen (groupby)

Aplicación de funciones (apply, map, lambda)

6. Trabajo con datos externos

Leer y guardar CSV/Excel (read_csv, to_csv, read_excel, to_excel)

Exploración de datasets reales

7. Visualización básica con Pandas

plot() para gráficos rápidos

Histogramas, líneas y barras

8. Ejercicio práctico final

Mini proyecto de análisis exploratorio: limpieza, resumen y visualización de un dataset real

Conclusiones y siguientes pasos

Buenas prácticas con Pandas

Recursos para profundizar

## Multi-Índice

In [ ]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [ ]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [ ]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])
df

             A         B
G1 1  0.302665  1.693723
   2 -1.706086 -1.159119
   3 -0.134841  0.390528
G2 1  0.166905  0.184502
   2  0.807706  0.072960
   3  0.638787  0.329646

Comprobemos cómo acceder a los elementos de estos objetos. En primer lugar, para acceder a la capa *superior* de un multiíndice, basta con usar la hasta ahora conocida notación `df.loc[]`:

In [ ]:
df.loc['G1',:]

          A         B
1  0.302665  1.693723
2 -1.706086 -1.159119
3 -0.134841  0.390528

Podemos asignar nombres a las distintas capas de índices:

In [ ]:
df.index.names

FrozenList([None, None])

In [ ]:
df.index.names = ['Group','Num']

In [ ]:
df

                  A         B
Group Num
G1    1    0.302665  1.693723
      2   -1.706086 -1.159119
      3   -0.134841  0.390528
G2    1    0.166905  0.184502
      2    0.807706  0.072960
      3    0.638787  0.329646

Emplearemos ahora la función `.xs()` (*cross-section*) para acceder a las distintas capas de un índice múltiple:

In [ ]:
df.xs('G1', axis = 0)

            A         B
Num
1    0.302665  1.693723
2   -1.706086 -1.159119
3   -0.134841  0.390528

In [ ]:
df.xs(['G1',1], axis = 0)

A    0.302665
B    1.693723
Name: (G1, 1), dtype: float64

In [ ]:
df.xs(1,level='Num', axis = 0)

              A         B
Group
G1     0.302665  1.693723
G2     0.166905  0.184502

---
# Información faltante

Estudiaremos ahora algunas formas de lidiar con la información faltante:

In [ ]:
df = pd.DataFrame({'A':[1,2,np.nan],
                  'B':[5,np.nan,np.nan],
                  'C':[1,2,3]})

In [ ]:
df

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

In [ ]:
#Eliminamos filas con valores nulos
df.dropna()

     A    B  C
0  1.0  5.0  1

In [ ]:
#Eliminamos columnas con valores nulos
df.dropna(axis=1)

   C
0  1
1  2
2  3

In [ ]:
#Eliminamos filas con un número de nulos mayor o igual que dos
df.dropna(thresh=2)

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2

In [ ]:
#Rellenamos los valores nulos con cualesquiera datos
df.fillna(value='FILL VALUE')

            A           B  C
0           1           5  1
1           2  FILL VALUE  2
2  FILL VALUE  FILL VALUE  3

In [ ]:
# También podemos emplear funciones para agregar información faltante
df['A'].fillna(value=df['A'].mean())

0    1.0
1    2.0
2    1.5
Name: A, dtype: float64

---
# Groupby

En numerosas aplicaciones, estaremos interesados en agrupar información

In [ ]:
# Create dataframe
data = {'Company':['GOOG','GOOG','MSFT','MSFT','FB','FB'],
       'Person':['Sam','Charlie','Amy','Vanessa','Carl','Sarah'],
       'Sales':[200,120,340,124,243,350]}

In [ ]:
df = pd.DataFrame(data)

In [ ]:
df

  Company   Person  Sales
0    GOOG      Sam    200
1    GOOG  Charlie    120
2    MSFT      Amy    340
3    MSFT  Vanessa    124
4      FB     Carl    243
5      FB    Sarah    350

Ahora, podemos usar el método `.groupby()` para agregar filas basadas en su información de una columna (o más). Por ejemplo, veamos lo que podemos hacer con esta información de empresas populares:

In [ ]:
df.groupby('Company')

Sobre este objeto, podemos agregar métodos para obtener información:

In [ ]:
print('Información de la media:\n{}'.format(df.groupby('Company').mean()))
print('\nInformación de la desviación típica:\n{}'.format(df.groupby('Company').std()))
print('\nInformación del mínimo:\n{}'.format(df.groupby('Company').min()))
print('\nInformación del máximo:\n{}'.format(df.groupby('Company').max()))
print('\nInformación de conteo:\n{}'.format(df.groupby('Company').count()))

Información de la media:
         Sales
Company
FB       296.5
GOOG     160.0
MSFT     232.0

Información de la desviación típica:
              Sales
Company
FB        75.660426
GOOG      56.568542
MSFT     152.735065

Información del mínimo:
          Person  Sales
Company
FB          Carl    243
GOOG     Charlie    120
MSFT         Amy    124

Información del máximo:
          Person  Sales
Company
FB         Sarah    350
GOOG         Sam    200
MSFT     Vanessa    340

Información de conteo:
         Person  Sales
Company
FB            2      2
GOOG          2      2
MSFT          2      2

Toda esta información podemos recogerla con la función `.describe()`:

In [ ]:
df.groupby('Company').describe()

                    Sales
Company
FB      count    2.000000
        mean   296.500000
        std     75.660426
        min    243.000000
        25%    269.750000
        50%    296.500000
        75%    323.250000
        max    350.000000
GOOG    count    2.000000
        mean   160.000000
        std     56.568542
        min    120.000000
        25%    140.000000
        50%    160.000000
        75%    180.000000
        max    200.000000
MSFT    count    2.000000
        mean   232.000000
        std    152.735065
        min    124.000000
        25%    178.000000
        50%    232.000000
        75%    286.000000
        max    340.000000

Para tener una vista más agradable, trasponemos los datos

In [ ]:
df.groupby('Company').describe().transpose()

Company    FB                                                         GOOG  \
        count   mean        std    min     25%    50%     75%    max count
Sales     2.0  296.5  75.660426  243.0  269.75  296.5  323.25  350.0   2.0

Company         ...                  MSFT                                   \
          mean  ...      75%    max count   mean         std    min    25%
Sales    160.0  ...    180.0  200.0   2.0  232.0  152.735065  124.0  178.0

Company
           50%    75%    max
Sales    232.0  286.0  340.0

[1 rows x 24 columns]

Podemos filtrar por un valor concreto:

In [ ]:
df.groupby('Company').describe().transpose()['GOOG']

       count   mean        std    min    25%    50%    75%    max
Sales    2.0  160.0  56.568542  120.0  140.0  160.0  180.0  200.0

Finalmente, podemos introducir cualquier operación que nos parezca más oportuna:

In [ ]:
df.groupby('Company')['Sales'].apply(lambda x: np.log1p(x)-np.cos(x))

0    4.816117
1    3.981610
2    5.072214
3    4.921090
4    5.953111
5    6.144420
Name: Sales, dtype: float64

____
# Merging, Joining, y Concatenating

Hay tres principales formas de combinar `pd.DataFrame`: *merge*, *join* y *concatenate*. Iremos sobre cada uno de ellos.

### DataFrames de muestra

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

## Concatenación

Esta operación únicamente pega los datos. Por tanto, las dimensiones de los objetos que intervienen en la operación deben de encajar sobre el eje que se realice la misma.

In [ ]:
pd.concat([df1,df2,df3])

      A    B    C    D
0    A0   B0   C0   D0
1    A1   B1   C1   D1
2    A2   B2   C2   D2
3    A3   B3   C3   D3
4    A4   B4   C4   D4
5    A5   B5   C5   D5
6    A6   B6   C6   D6
7    A7   B7   C7   D7
8    A8   B8   C8   D8
9    A9   B9   C9   D9
10  A10  B10  C10  D10
11  A11  B11  C11  D11

In [ ]:
pd.concat([df1,df2,df3],axis=1)

      A    B    C    D    A    B    C    D    A    B    C    D
0    A0   B0   C0   D0  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1    A1   B1   C1   D1  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2    A2   B2   C2   D2  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3    A3   B3   C3   D3  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4   NaN  NaN  NaN  NaN   A4   B4   C4   D4  NaN  NaN  NaN  NaN
5   NaN  NaN  NaN  NaN   A5   B5   C5   D5  NaN  NaN  NaN  NaN
6   NaN  NaN  NaN  NaN   A6   B6   C6   D6  NaN  NaN  NaN  NaN
7   NaN  NaN  NaN  NaN   A7   B7   C7   D7  NaN  NaN  NaN  NaN
8   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A8   B8   C8   D8
9   NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN   A9   B9   C9   D9
10  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A10  B10  C10  D10
11  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  A11  B11  C11  D11

___

## Merging

La función **merge** permite combinar DataFrames usando una lógica similar a la de las tablas SQL.

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left,right,how='inner',on='key')

  key   A   B   C   D
0  K0  A0  B0  C0  D0
1  K1  A1  B1  C1  D1
2  K2  A2  B2  C2  D2
3  K3  A3  B3  C3  D3

Un ejemplo algo más elaborado

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right, on=['key1', 'key2']) #how = 'inner'

  key1 key2   A   B   C   D
0   K0   K0  A0  B0  C0  D0
1   K1   K0  A2  B2  C1  D1
2   K1   K0  A2  B2  C2  D2

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

  key1 key2    A    B    C    D
0   K0   K0   A0   B0   C0   D0
1   K0   K1   A1   B1  NaN  NaN
2   K1   K0   A2   B2   C1   D1
3   K1   K0   A2   B2   C2   D2
4   K2   K1   A3   B3  NaN  NaN
5   K2   K0  NaN  NaN   C3   D3

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

  key1 key2    A    B   C   D
0   K0   K0   A0   B0  C0  D0
1   K1   K0   A2   B2  C1  D1
2   K1   K0   A2   B2  C2  D2
3   K2   K0  NaN  NaN  C3  D3

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

  key1 key2   A   B    C    D
0   K0   K0  A0  B0   C0   D0
1   K0   K1  A1  B1  NaN  NaN
2   K1   K0  A2  B2   C1   D1
3   K1   K0  A2  B2   C2   D2
4   K2   K1  A3  B3  NaN  NaN

## Joining

La operación *join* es un método muy adecuado para combinar columnas de DataFrames cuyos índices sean potencialmente distintos.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

     A   B    C    D
K0  A0  B0   C0   D0
K1  A1  B1  NaN  NaN
K2  A2  B2   C2   D2

In [ ]:
left.join(right, how='outer')

      A    B    C    D
K0   A0   B0   C0   D0
K1   A1   B1  NaN  NaN
K2   A2   B2   C2   D2
K3  NaN  NaN   C3   D3

___
# Operaciones

A continuación exploraremos algunos de los métodos más frecuentes para analizar datos con esta librería:

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,4],'col2':[444,555,666,444],'col3':['abc','def','ghi','xyz']})
df.head()

   col1  col2 col3
0     1   444  abc
1     2   555  def
2     3   666  ghi
3     4   444  xyz

### Info sobre valores únicos

In [ ]:
#Valores distintos de una columna
df['col2'].unique()

array([444, 555, 666])

In [ ]:
#Número de valores distintos en una columna
df['col2'].nunique()

3

In [ ]:
#Número de veces que se toma cada valor de una columna
df['col2'].value_counts()

444    2
555    1
666    1
Name: col2, dtype: int64

### Filtrando datos

In [ ]:
#Podemos filtrar haciendo uso de condiciones en múltiples columnas
newdf = df[(df['col1']>2) & (df['col2']==444)]

In [ ]:
newdf

   col1  col2 col3
3     4   444  xyz

### Aplicar funciones

In [ ]:
def times2(x):
    return x*2

In [ ]:
df['col1'].apply(times2)

0    2
1    4
2    6
3    8
Name: col1, dtype: int64

In [ ]:
df['col3'].apply(len)

0    3
1    3
2    3
3    3
Name: col3, dtype: int64

In [ ]:
df['col1'].sum()

10

**Eliminar una columna de forma irreversible**

In [ ]:
del df['col1']

In [ ]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

**Obtener nombre de columnas e índices**

In [ ]:
df.columns

Index(['col2', 'col3'], dtype='object')

In [ ]:
df.index

RangeIndex(start=0, stop=4, step=1)

**Ordenando la información**

In [ ]:
df

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

In [ ]:
df.sort_values(by='col2') #inplace=False por defecto

   col2 col3
0   444  abc
3   444  xyz
1   555  def
2   666  ghi

**Buscar valores nulos y reemplazarlos**

In [ ]:
df.isnull()

    col2   col3
0  False  False
1  False  False
2  False  False
3  False  False

In [ ]:
# Drop rows with NaN Values
df.dropna()

   col2 col3
0   444  abc
1   555  def
2   666  ghi
3   444  xyz

**Rellenar valores nulos con otra información**

In [ ]:
df = pd.DataFrame({'col1':[1,2,3,np.nan],
                   'col2':[np.nan,555,666,444],
                   'col3':['abc','def','ghi','xyz']})
df.head()

   col1   col2 col3
0   1.0    NaN  abc
1   2.0  555.0  def
2   3.0  666.0  ghi
3   NaN  444.0  xyz

In [ ]:
df.fillna('FILL')

   col1  col2 col3
0     1  FILL  abc
1     2   555  def
2     3   666  ghi
3  FILL   444  xyz

**Pivotar tablas**

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
print(df)

     A    B  C  D
0  foo  one  x  1
1  foo  one  y  3
2  foo  two  x  2
3  bar  two  y  5
4  bar  one  x  4
5  bar  one  y  1

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])

C          x    y
A   B
bar one  4.0  1.0
    two  NaN  5.0
foo one  1.0  3.0
    two  2.0  NaN