<div style="
    background: linear-gradient(135deg, #667eea 0%, #764ba2 50%, #f093fb 100%);
    padding: 4rem 2rem;
    border-radius: 20px;
    text-align: center;
    position: relative;
    overflow: hidden;
    margin: 2rem 0;
    box-shadow: 0 20px 40px rgba(0,0,0,0.2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 1200px;
">
  <img src="\data_bootcamp\numpy_pandas\img\up.png" width="200"/>
  
  <h1 style="font-size: 2.5em; margin: 10px 0;"><strong>Bootcamp de Análisis de Datos & IA</strong></h1>
<div style="
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('data:image/svg+xml,<svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 100 100\"><defs><pattern id=\"grid\" width=\"10\" height=\"10\" patternUnits=\"userSpaceOnUse\"><path d=\"M 10 0 L 0 0 0 10\" fill=\"none\" stroke=\"rgba(255,255,255,0.1)\" stroke-width=\"0.5\"/></pattern></defs><rect width=\"100\" height=\"100\" fill=\"url(%23grid)\"/></svg>
</div>
<div style="position: relative; z-index: 10;">

<h1 style="
    font-size: 3.5rem;
    font-weight: 900;
    color: #ffffff;
    margin: 1rem 0;
    text-shadow: 0 0 30px rgba(255,255,255,0.8);
    letter-spacing: 2px;
    font-family: 'Arial Black', sans-serif;
">INTRODUCCIÓN A PANDAS</h1>

<div style="
    background: rgba(0,0,0,0.4);
    border-radius: 15px;
    padding: 1.5rem;
    margin: 2rem auto;
    max-width: 1000px;
    border: 1px solid rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
">
    <div style="
        color: #50fa7b;
        font-family: 'Courier New', monospace;
        font-size: 1.2rem;
        text-align: left;
    ">
        <span style="color: #ff79c6;">>>> </span>import pandas as pd<br>
        <span style="color: #50fa7b;">¡Listo para explorar datos!</span><br>
        <span style="color: #ff79c6;">>>> </span>ready_to_code = <span style="color: #bd93f9;">True</span> ✨
    </div>
</div>

<div style="
    padding: 1.5rem;
    background: rgba(193, 239, 67, 0.99);
    border-radius: 15px;
    border: 1px solid rgba(255,255,255,0.1);
    max-width: 1000px;
    gap: 1.5rem;
    margin: 2rem auto;
">
<h4 style="color: rgba(0, 0, 0, 1); margin-bottom: 1rem;">
    🎓 Contenidos de la clase:
</h4>

<div style="
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
    justify-items: center;
    text-align: center;
    margin: 2rem auto;
    max-width: 900px;
">
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ ¿Qué es Pandas y por qué es útil?</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Instalación e importación</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Series y DataFrames</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Creación de datos (Series, DataFrames, CSV/Excel)</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Primer vistazo a los datos (head, tail, info, describe)</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Acceso y filtrado de datos</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Manipulación: añadir, eliminar, renombrar, fillna/dropna</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Operaciones y agrupación</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Trabajo con archivos externos</div>
    <div style="color: rgba(0, 0, 0, 1); font-size: 1rem;">✅ Visualización básica y mini proyecto final</div>
</div>
</div>

<div style="
    background: linear-gradient(45deg, #ff6b6b, #ee5a24, #ff6b6b);
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 10px 30px rgba(255,107,107,0.4);
    display: inline-block;
    margin-top: 2rem;
    cursor: pointer;
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 1000px;
">
🚀 COMENZAR CLASE 🚀
</div>

</div>
</div>

# 📚 1. Introducción a Pandas

## 1.1. ¿Qué es Pandas y por qué es útil?
**Pandas** es una librería de Python diseñada para la **manipulación y análisis de datos**.  
Permite trabajar con estructuras de datos **flexibles y rápidas**, facilitando tareas como:

- Lectura y escritura de archivos (CSV, Excel, SQL, etc.)  
- Limpieza y transformación de datos  
- Cálculos estadísticos y agregaciones  
- Visualización básica de datos  

👉 Es una de las librerías más utilizadas en **ciencia de datos, análisis empresarial y machine learning**, ya que simplifica mucho el trabajo con datos tabulares.

>💡Las librerías son colecciones de funciones y herramientas predefinidas que facilitan la programación al proporcionar soluciones listas para usar en lugar de tener que escribir código desde cero.

---

## ⚙️ 1.2. Instalación e importación
Para instalar Pandas, ejecuta en la terminal o consola de Python:

In [ ]:
#pip install pandas

Para importar Pandas en tu script o notebook, usa:

In [11]:
import pandas as pd

### ¿Para qué se importan las librerías?
Para poder utilizar las funciones y estructuras de datos que estas ofrecen, facilitando tareas complejas como el análisis y manipulación de datos. **Es siempre el primer paso en cualquier proyecto de análisis de datos.**

```python

## 🔎 1.3. Tipos de estructuras de datos en Pandas: Series y DataFrames

Pandas trabaja principalmente con **dos estructuras de datos**: Series y Dataframes.

---

### 1️⃣ Series
Una **Serie** es un **array unidimensional con etiquetas** (índices).  
Se puede imaginar como una columna de Excel con un índice asociado.


### 2️⃣ DataFrame

Un DataFrame es una estructura bidimensional en forma de tabla, con filas y columnas.
Cada columna es en realidad una Serie.


> 📌 Tip: piensa en un DataFrame como una hoja de cálculo y en una Serie como una sola columna de esa hoja.

# ✨ 2. Creación de datos en Pandas

En este apartado aprenderemos a crear datos en Pandas y a dar un **primer vistazo** a ellos.

### 2.1. Crear Series

In [8]:
# Crear una Serie a partir de una lista
serie = pd.Series([10, 20, 30, 40], name="Edades")
serie

0    10
1    20
2    30
3    40
Name: Edades, dtype: int64

### 2.2. Crear DataFrames

#### Desde un diccionario

In [10]:
datos = {
    "Nombre": ["Ana", "Luis", "María"],
    "Edad": [23, 35, 29],
    "Ciudad": ["Madrid", "Sevilla", "Valencia"]
}

df = pd.DataFrame(datos)
df

  Nombre  Edad    Ciudad
0    Ana    23    Madrid
1   Luis    35   Sevilla
2  María    29  Valencia

#### Desde una lista de listas

In [ ]:
#Desde una lista de listas
df_lista = pd.DataFrame(
    [["Ana", 23], ["Luis", 35], ["María", 29]],
    columns=["Nombre", "Edad"]
)
print(df_lista)

#### Desde arcvhivos CSV/Excel

In [15]:
import os # Librería para interactuar con el sistema operativo
print("Current working directory:", os.getcwd())

Current working directory: c:\Users\amval\Documents\bootcamp_ug\data_bootcamp\numpy_pandas\teoría\Pandas

In [183]:
# Leer CSV
df_csv = pd.read_csv("../../data/ncr_ride_bookings.csv")

In [18]:
df_csv

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,NaN,475.0,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,NaN,1093.0,21.31,4.8,5.0,UPI
149997,2024-09-18,10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,NaN,852.0,15.93,3.9,4.4,Cash
149998,2024-10-05,07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,NaN,333.0,45.54,4.1,3.7,UPI
149999,2024-03-10,15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,NaN,806.0,21.19,4.6,4.9,Credit Card

In [209]:
#Leer Excel
df_excel = pd.read_excel(
    r"..\..\data\DTM_Mixed Migration Flows to Europe_Yearly_2024_1.xlsx",
    sheet_name = "First_Arrival_Countries_CoO")

In [86]:
# Leer un archivo Excel con múltiples hojas y crear dataframes separados con nombres dinámicos
archivo = (r"..\..\data\DTM_Mixed Migration Flows to Europe_Yearly_2024_1.xlsx")

# Leer todas las hojas
todas_hojas = pd.read_excel(archivo, sheet_name=None)

# Crear variables dinámicamente para cada hoja
for nombre_hoja, df in todas_hojas.items():
    # Limpiar el nombre para que sea un nombre de variable válido
    nombre_variable = nombre_hoja.replace(' ', '_').replace('-', '_')
    # Asignar el DataFrame a una variable con el nombre de la hoja
    globals()[f'df_{nombre_variable}'] = df
    print(f"Creada variable: df_{nombre_variable} con {len(df)} filas")

Creada variable: df_About con 27 filas
Creada variable: df_Summary con 55 filas
Creada variable: df_First_Arrival_Countries_Monthly con 982 filas
Creada variable: df_Other_Countries_Areas_Monthly con 925 filas
Creada variable: df_First_Arrival_Countries_CoO con 1689 filas
Creada variable: df_Others_Countries_CoO con 1720 filas
Creada variable: df_All_Migrant_Presence con 640 filas
Creada variable: df_Sources con 18 filas
Creada variable: df_ISO3 con 125 filas

### Explicación sencilla:
1.  Leyendo el archivo indicando sheet_name=None, podemos acceder a todas las hojas del archivo Excel de una sola vez.

2. Con for recorremos cada hoja del archivo Excel y vamos guardando:
- Cada nombre de hoja en nombre_hoja, reemplazando espacios y guiones por guiones bajos para que sea un nombre de variable válido.
- El DataFrame correspondiente a esa hoja en df.

3. Empleamos globals() para crear dinámicamente una variable con el nombre de la hoja y asignarle el DataFrame correspondiente.

4. Por último, mostramos los nombres de las variables creadas dinámicamente y su número de filas gracias a len().

```python

# 🕵️‍♂️ 3. Exploración básica de datos con Pandas

Una vez que tenemos nuestro **DataFrame**, necesitamos aprender a **explorar y seleccionar datos**.  
En este bloque veremos cómo acceder a **columnas y filas**, aplicar **filtros con condiciones** y **ordenar los datos**.

Existen varios métodos para obtener una visión rápida de los datos en un DataFrame. Algunos de los más útiles son:

### 🏷️ Tabla de métodos de exploración inicial con pandas


| Método         | Descripción                                      |
|----------------|--------------------------------------------------|
| `info()`       | Proporciona un resumen conciso del DataFrame.    |
| `shape`        | Devuelve una tupla con el número de filas y columnas. |
| `columns`      | Lista los nombres de las columnas del DataFrame. |
| `dtypes`       | Muestra el tipo de datos de cada columna.        |
| `head(n)`      | Muestra las primeras `n` filas del DataFrame.    |
| `tail(n)`      | Muestra las últimas `n` filas del DataFrame.     |
| `describe()`   | Genera estadísticas descriptivas del DataFrame.  |

In [23]:
#Con info podemos ver un resumen del DataFrame, incluyendo el número de entradas, el número de columnas, los nombres de las columnas, 
#el tipo de datos de cada columna y la cantidad de memoria utilizada.
df_excel.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1689 entries, 0 to 1688
Data columns (total 8 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Date                       1689 non-null   datetime64[ns]
 1   Year                       1689 non-null   int64
 2   Month                      1689 non-null   int64
 3   ISO3 - Country of origin   1689 non-null   object
 4   ISO3 - Country of arrival  1689 non-null   object
 5   Route                      1689 non-null   object
 6   Arrivals                   1689 non-null   int64
 7   Source                     1689 non-null   object
dtypes: datetime64[ns](1), int64(3), object(4)
memory usage: 105.7+ KB

In [26]:
#Saber el número de filas y columnas del DataFrame. 
#Devuelve una tupla (número de filas, número de columnas).
df_excel.shape

(1689, 8)

In [27]:
# Saber los nombres de las columnas del DataFrame
df_excel.columns

Index(['Date', 'Year', 'Month', 'ISO3 - Country of origin',
       'ISO3 - Country of arrival', 'Route', 'Arrivals', 'Source'],
      dtype='object')

In [28]:
# Saber el tipo de datos de cada columna
df_excel.dtypes

Date                         datetime64[ns]
Year                                  int64
Month                                 int64
ISO3 - Country of origin             object
ISO3 - Country of arrival            object
Route                                object
Arrivals                              int64
Source                               object
dtype: object

In [29]:
#Ver las primeras filas del DataFrame. Entre paréntesis se puede indicar el número de filas a mostrar. Por defecto son 5.
df_excel.head()

,Date,Year,Month,ISO3 - Country of origin,ISO3 - Country of arrival,Route,Arrivals,Source
0,2024-01-31,2024,1,BGD,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,2024-01-31,2024,1,EGY,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,2024-01-31,2024,1,PAK,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,2024-01-31,2024,1,SDN,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,2024-01-31,2024,1,SYR,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [30]:
#Ver las últimas filas del DataFrame. Entre paréntesis se puede indicar el número de filas a mostrar. Por defecto son 5.
df_excel.tail(5)

,Date,Year,Month,ISO3 - Country of origin,ISO3 - Country of arrival,Route,Arrivals,Source
1684,2024-12-31,2024,12,EGY,BGR,EMR,12,Bulgarian Ministry of Interior
1685,2024-12-31,2024,12,IRQ,BGR,EMR,12,Bulgarian Ministry of Interior
1686,2024-12-31,2024,12,MAR,BGR,EMR,33,Bulgarian Ministry of Interior
1687,2024-12-31,2024,12,OOO,BGR,EMR,36,Bulgarian Ministry of Interior
1688,2024-12-31,2024,12,SYR,BGR,EMR,61,Bulgarian Ministry of Interior

In [31]:
# describe devuelve estadísticas básicas de las columnas numéricas del DataFrame, como la media, la desviación estándar, los valores mínimo y máximo, y los percentiles.
df_excel.describe()

                                Date    Year        Month     Arrivals
count                           1689  1689.0  1689.000000  1689.000000
mean   2024-07-20 12:46:27.921847296  2024.0     6.653641   123.687981
min              2024-01-31 00:00:00  2024.0     1.000000  -341.000000
25%              2024-04-30 00:00:00  2024.0     4.000000     3.000000
50%              2024-07-31 00:00:00  2024.0     7.000000    11.000000
75%              2024-10-31 00:00:00  2024.0    10.000000    79.000000
max              2024-12-31 00:00:00  2024.0    12.000000  4232.000000
std                              NaN     0.0     3.466527   343.436107

## 📌 Manipulación de índices

El **índice** en Pandas identifica cada fila de un DataFrame o Serie.  
Saber cómo manipularlo es clave para **seleccionar, ordenar y alinear datos** correctamente.

> 💡 Pandas asigna automáticamente un índice numérico entero comenzando desde 0 al crear un DataFrame sin especificar el nombre de la columna de índice.

### 🏷️Tabla de métodos para manipulación de índices

| Método               | Descripción                                      |
|----------------------|--------------------------------------------------|
| `index`             | Accede al índice del DataFrame o Serie.          |
| `index_name`        | Obtiene o establece el nombre del índice.        |
| `set_index(col)`     | Establece una columna como índice del DataFrame. |
| `reset_index()`      | Restablece el índice al valor predeterminado.    |
| `sort_index()`       | Ordena el DataFrame por el índice.               |

In [59]:
# Revisar el índice del DataFrame
df_excel.index

RangeIndex(start=0, stop=1689, step=1)

In [60]:
#Obtener nombre del índice
print(df_excel.index.name)

None

In [61]:
# Renombrar el índice
df_excel.index.name = 'Row_ID'
df_excel.head()

,Date,Year,Month,ISO3 - Country of origin,ISO3 - Country of arrival,Route,Arrivals,Source
Row_ID,,,,,,,,
0,2024-01-31,2024,1,BGD,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,2024-01-31,2024,1,EGY,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,2024-01-31,2024,1,PAK,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,2024-01-31,2024,1,SDN,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,2024-01-31,2024,1,SYR,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [62]:
# Establecer una columna como índice. Sirve para identificar filas de forma única. Se aplica si la columna tiene valores únicos.
df_excel.set_index('ISO3 - Country of origin', inplace=True)
df_excel.head()

,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
ISO3 - Country of origin,,,,,,,
BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [63]:
# Resetear el índice a los valores por defecto (0, 1, 2, ...)
df_excel.reset_index(inplace=True) 
# Con inplace=True se modifica el DataFrame original
df_excel.head()

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."

In [64]:
# Ordenar el DataFrame por el índice en orden ascendente (de menor a mayor)
df_excel.sort_index(ascending=True)

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."
...,...,...,...,...,...,...,...,...
1684,EGY,2024-12-31,2024,12,BGR,EMR,12,Bulgarian Ministry of Interior
1685,IRQ,2024-12-31,2024,12,BGR,EMR,12,Bulgarian Ministry of Interior
1686,MAR,2024-12-31,2024,12,BGR,EMR,33,Bulgarian Ministry of Interior
1687,OOO,2024-12-31,2024,12,BGR,EMR,36,Bulgarian Ministry of Interior
1688,SYR,2024-12-31,2024,12,BGR,EMR,61,Bulgarian Ministry of Interior

In [65]:
# Ordenar el DataFrame por el índice en orden descendente (de mayor a menor)
df_excel.sort_index(ascending=False)

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
1688,SYR,2024-12-31,2024,12,BGR,EMR,61,Bulgarian Ministry of Interior
1687,OOO,2024-12-31,2024,12,BGR,EMR,36,Bulgarian Ministry of Interior
1686,MAR,2024-12-31,2024,12,BGR,EMR,33,Bulgarian Ministry of Interior
1685,IRQ,2024-12-31,2024,12,BGR,EMR,12,Bulgarian Ministry of Interior
1684,EGY,2024-12-31,2024,12,BGR,EMR,12,Bulgarian Ministry of Interior
...,...,...,...,...,...,...,...,...
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."

## 📌 Acceso a columnas y filas

### 🏷️ Tabla comparativa de métodos para acceder a datos
| Método               | Descripción                                      | Uso Principal                                  |
|----------------------|--------------------------------------------------|------------------------------------------------|                                
| `[]`                 | Accede a columnas por nombre.                     | Selección rápida de una o más columnas.        |
| `.loc[]`             | Accede a filas y columnas por etiquetas.          | Selección basada en etiquetas de índice.       |
| `.iloc[]`            | Accede a filas y columnas por posición entera.    | Selección basada en la posición numérica.      |

In [66]:
# Acceso a una columna específica
df_excel['ISO3 - Country of origin']

0       BGD
1       EGY
2       PAK
3       SDN
4       SYR
       ...
1684    EGY
1685    IRQ
1686    MAR
1687    OOO
1688    SYR
Name: ISO3 - Country of origin, Length: 1689, dtype: object

In [69]:
# Acceder a varias columnas
df_excel[['ISO3 - Country of origin', 'Year']]

     ISO3 - Country of origin  Year
0                         BGD  2024
1                         EGY  2024
2                         PAK  2024
3                         SDN  2024
4                         SYR  2024
...                       ...   ...
1684                      EGY  2024
1685                      IRQ  2024
1686                      MAR  2024
1687                      OOO  2024
1688                      SYR  2024

[1689 rows x 2 columns]

In [70]:
#Acceso a filas por el valor del índice
df_excel.loc[0]  # Con corchete simple devuelve una Serie

ISO3 - Country of origin                                                   BGD
Date                                                       2024-01-31 00:00:00
Year                                                                      2024
Month                                                                        1
ISO3 - Country of arrival                                                  MLT
Route                                                                      CMR
Arrivals                                                                     7
Source                       Maltese Minitry of Home Affairs, Security and ...
Name: 0, dtype: object

In [77]:
# Acceder a varias filas y varias columnas con loc.
df_excel.loc[0:5, ['ISO3 - Country of origin', 'Year']]
#OJO! El final del rango es inclusivo con loc porque trabaja con etiquetas, busca el valor exacto del índice.

  ISO3 - Country of origin  Year
0                      BGD  2024
1                      EGY  2024
2                      PAK  2024
3                      SDN  2024
4                      SYR  2024
5                      BGD  2024

In [79]:
# Acceso a filas por posición (iloc). 
df_excel.iloc[[0]]  # Con doble corchete devuelve un DataFrame

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."

In [80]:
# Acceso a filas por posición (iloc). 
df_excel.iloc[0]  # Con un solo corchete devuelve una Serie

ISO3 - Country of origin                                                   BGD
Date                                                       2024-01-31 00:00:00
Year                                                                      2024
Month                                                                        1
ISO3 - Country of arrival                                                  MLT
Route                                                                      CMR
Arrivals                                                                     7
Source                       Maltese Minitry of Home Affairs, Security and ...
Name: 0, dtype: object

In [82]:
# iloc también permite acceder a varias filas y columnas por posición
df_excel.iloc[0:5, 0:2] #Los primeros valores se refieren a filas y los segundos a columnas
#OJO! El final del rango es exclusivo con iloc porque trabaja con posiciones, no con etiquetas.

  ISO3 - Country of origin       Date
0                      BGD 2024-01-31
1                      EGY 2024-01-31
2                      PAK 2024-01-31
3                      SDN 2024-01-31
4                      SYR 2024-01-31

## 📌 Filtrado de datos con condiciones

In [90]:
# Filtrar filas donde el Country of origin es 'SYR'
df_siria = df_excel[df_excel['ISO3 - Country of origin'] == 'SYR']

In [94]:
# Filtrar por varias condiciones: Country of origin es 'SYR' y Country of first arrival es 'GRC'
df_siria_grecia = df_excel[
    (df_excel['ISO3 - Country of origin'] == 'SYR') &
    (df_excel['ISO3 - Country of arrival'] == 'GRC')
]

In [103]:
# Filtar con isin para múltiples valores
df_multiple = df_excel[df_excel['ISO3 - Country of origin'].isin(['SYR', 'AFG', 'IRN'])]
df_multiple

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."
10,SYR,2024-02-29,2024,2,MLT,CMR,11,"Maltese Minitry of Home Affairs, Security and ..."
11,SYR,2024-03-31,2024,3,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
14,SYR,2024-07-31,2024,7,MLT,CMR,25,"Maltese Minitry of Home Affairs, Security and ..."
15,SYR,2024-08-31,2024,8,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
...,...,...,...,...,...,...,...,...
1676,SYR,2024-10-31,2024,10,BGR,EMR,365,Bulgarian Ministry of Interior
1677,AFG,2024-11-30,2024,11,BGR,EMR,45,Bulgarian Ministry of Interior
1682,SYR,2024-11-30,2024,11,BGR,EMR,263,Bulgarian Ministry of Interior
1683,AFG,2024-12-31,2024,12,BGR,EMR,68,Bulgarian Ministry of Interior
1688,SYR,2024-12-31,2024,12,BGR,EMR,61,Bulgarian Ministry of Interior

In [105]:
# Filtar con isin para múltiples valores de varias columnas
df_multiple_varias = df_excel[
    df_excel['ISO3 - Country of origin'].isin(['SYR', 'AFG', 'IRN']) &
    df_excel['ISO3 - Country of arrival'].isin(['GRC', 'ITA'])
]
df_multiple_varias

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
52,SYR,2024-01-31,2024,1,ITA,CMR,411,Italian Ministry of the Interior
81,SYR,2024-02-29,2024,2,ITA,CMR,353,Italian Ministry of the Interior
85,AFG,2024-03-31,2024,3,ITA,CMR,9,Italian Ministry of the Interior
119,SYR,2024-03-31,2024,3,ITA,CMR,1320,Italian Ministry of the Interior
156,SYR,2024-04-30,2024,4,ITA,CMR,376,Italian Ministry of the Interior
...,...,...,...,...,...,...,...,...
821,IRN,2024-11-30,2024,11,GRC,EMR,59,"Hellenic Coast Guard, Greek Ministry of Interior"
839,SYR,2024-11-30,2024,11,GRC,EMR,2201,"Hellenic Coast Guard, Greek Ministry of Interior"
845,AFG,2024-12-31,2024,12,GRC,EMR,2340,"Hellenic Coast Guard, Greek Ministry of Interior"
859,IRN,2024-12-31,2024,12,GRC,EMR,23,"Hellenic Coast Guard, Greek Ministry of Interior"
876,SYR,2024-12-31,2024,12,GRC,EMR,604,"Hellenic Coast Guard, Greek Ministry of Interior"

In [102]:
#Filtrar datos donde el mes de la columna 'Date' es enero (1)
df_enero = df_excel[df_excel['Date'].dt.month == 1]
df_enero

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ..."
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ..."
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ..."
...,...,...,...,...,...,...,...,...
1609,MAR,2024-01-31,2024,1,BGR,EMR,15,Bulgarian Ministry of Interior
1610,OOO,2024-01-31,2024,1,BGR,EMR,85,Bulgarian Ministry of Interior
1611,PSE,2024-01-31,2024,1,BGR,EMR,5,Bulgarian Ministry of Interior
1612,SYR,2024-01-31,2024,1,BGR,EMR,138,Bulgarian Ministry of Interior
1613,TUR,2024-01-31,2024,1,BGR,EMR,3,Bulgarian Ministry of Interior

In [106]:
# Filtrar datos donde Arrivals es mayor que 1000
df_mas_1000 = df_excel[df_excel['Arrivals'] > 1000]
df_mas_1000

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
88,BGD,2024-03-31,2024,3,ITA,CMR,1464,Italian Ministry of the Interior
119,SYR,2024-03-31,2024,3,ITA,CMR,1320,Italian Ministry of the Interior
165,BGD,2024-05-31,2024,5,ITA,CMR,1098,Italian Ministry of the Interior
206,BGD,2024-06-30,2024,6,ITA,CMR,1205,Italian Ministry of the Interior
245,BGD,2024-07-31,2024,7,ITA,CMR,1560,Italian Ministry of the Interior
274,SYR,2024-07-31,2024,7,ITA,CMR,1619,Italian Ministry of the Interior
277,TUN,2024-07-31,2024,7,ITA,CMR,1207,Italian Ministry of the Interior
285,BGD,2024-08-31,2024,8,ITA,CMR,1391,Italian Ministry of the Interior
318,SYR,2024-08-31,2024,8,ITA,CMR,1856,Italian Ministry of the Interior
322,TUN,2024-08-31,2024,8,ITA,CMR,1554,Italian Ministry of the Interior
328,BGD,2024-09-30,2024,9,ITA,CMR,1701,Italian Ministry of the Interior
360,SYR,2024-09-30,2024,9,ITA,CMR,2076,Italian Ministry of the Interior
398,SYR,2024-10-31,2024,10,ITA,CMR,1173,Italian Ministry of the Interior
408,BGD,2024-11-30,2024,11,ITA,CMR,1813,Italian Ministry of the Interior
440,SYR,2024-11-30,2024,11,ITA,CMR,1515,Italian Ministry of the Interior
450,BGD,2024-12-31,2024,12,ITA,CMR,1240,Italian Ministry of the Interior
479,AFG,2024-01-31,2024,1,GRC,EMR,1367,"Hellenic Coast Guard, Greek Ministry of Interior"
513,AFG,2024-02-29,2024,2,GRC,EMR,2178,"Hellenic Coast Guard, Greek Ministry of Interior"
628,SYR,2024-05-31,2024,5,GRC,EMR,1720,"Hellenic Coast Guard, Greek Ministry of Interior"
658,SYR,2024-06-30,2024,6,GRC,EMR,1287,"Hellenic Coast Guard, Greek Ministry of Interior"
693,SYR,2024-07-31,2024,7,GRC,EMR,2522,"Hellenic Coast Guard, Greek Ministry of Interior"
727,SYR,2024-08-31,2024,8,GRC,EMR,3366,"Hellenic Coast Guard, Greek Ministry of Interior"
764,SYR,2024-09-30,2024,9,GRC,EMR,4097,"Hellenic Coast Guard, Greek Ministry of Interior"
770,AFG,2024-10-31,2024,10,GRC,EMR,1528,"Hellenic Coast Guard, Greek Ministry of Interior"
779,EGY,2024-10-31,2024,10,GRC,EMR,1047,"Hellenic Coast Guard, Greek Ministry of Interior"
797,SYR,2024-10-31,2024,10,GRC,EMR,2998,"Hellenic Coast Guard, Greek Ministry of Interior"
804,AFG,2024-11-30,2024,11,GRC,EMR,2835,"Hellenic Coast Guard, Greek Ministry of Interior"
839,SYR,2024-11-30,2024,11,GRC,EMR,2201,"Hellenic Coast Guard, Greek Ministry of Interior"
845,AFG,2024-12-31,2024,12,GRC,EMR,2340,"Hellenic Coast Guard, Greek Ministry of Interior"
905,MLI,2024-01-31,2024,1,ESP,WAAR,4232,European Border and Coast Guard Agency
915,SEN,2024-01-31,2024,1,ESP,WAAR,1233,European Border and Coast Guard Agency
944,MLI,2024-02-29,2024,2,ESP,WAAR,2291,European Border and Coast Guard Agency
1031,SEN,2024-04-30,2024,4,ESP,WAAR,1025,European Border and Coast Guard Agency
1136,DZA,2024-07-31,2024,7,ESP,WMR,1397,European Border and Coast Guard Agency
1179,DZA,2024-08-31,2024,8,ESP,WMR,1416,European Border and Coast Guard Agency
1189,MLI,2024-08-31,2024,8,ESP,WAAR,1120,European Border and Coast Guard Agency
1200,SEN,2024-08-31,2024,8,ESP,WAAR,1962,European Border and Coast Guard Agency
1224,DZA,2024-09-30,2024,9,ESP,WMR,1141,European Border and Coast Guard Agency
1239,MLI,2024-09-30,2024,9,ESP,WAAR,1548,European Border and Coast Guard Agency
1270,DZA,2024-10-31,2024,10,ESP,WMR,1031,European Border and Coast Guard Agency
1295,SEN,2024-10-31,2024,10,ESP,WAAR,1424,European Border and Coast Guard Agency
1321,DZA,2024-11-30,2024,11,ESP,WMR,1945,European Border and Coast Guard Agency
1334,MLI,2024-11-30,2024,11,ESP,WAAR,1711,European Border and Coast Guard Agency
1345,SEN,2024-11-30,2024,11,ESP,WAAR,2535,European Border and Coast Guard Agency
1382,MLI,2024-12-31,2024,12,ESP,WAAR,2114,European Border and Coast Guard Agency
1394,SEN,2024-12-31,2024,12,ESP,WAAR,1090,European Border and Coast Guard Agency
1481,SYR,2024-04-30,2024,4,CYP,EMR,1310,Cypriot Deputy Ministry of Migration and Inter...
1664,SYR,2024-08-31,2024,8,BGR,EMR,1154,Bulgarian Ministry of Interior

## 📌 Ordenar y seleccionar datos

In [97]:
# Ordenar por la columna 'Date' en orden ascendente
df_excel.sort_values(by='Date', ascending=True).head()

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ..."
499,MAR,2024-01-31,2024,1,GRC,EMR,2,"Hellenic Coast Guard, Greek Ministry of Interior"
500,MLI,2024-01-31,2024,1,GRC,EMR,2,"Hellenic Coast Guard, Greek Ministry of Interior"
501,NGA,2024-01-31,2024,1,GRC,EMR,4,"Hellenic Coast Guard, Greek Ministry of Interior"
502,OOO,2024-01-31,2024,1,GRC,EMR,16,"Hellenic Coast Guard, Greek Ministry of Interior"

## 📌 Explorar los valores 
### 🏷️ Tabla de métodos para explorar valores únicos y conteos 
| Método | Descripción | 
|----------------------|--------------------------------------------------| 
| unique() | Devuelve los valores únicos en una columna. | 
| nunique() | Cuenta el número de valores únicos en una columna.|
| value_counts() | Cuenta la frecuencia de cada valor en una columna.|

Se pueden aplicar a cualquier tipo de variable, pero son especialmente útiles para variables categóricas. >💡 Las variables categóricas son aquellas que representan categorías o grupos, como colores, tipos de productos o países. Generalmente, tienen un número limitado de valores posibles.

In [110]:
# Aplicación de unique para ver los valores únicos en una columna
df_excel['ISO3 - Country of origin'].unique()

array(['BGD', 'EGY', 'PAK', 'SDN', 'SYR', 'ERI', 'ETH', 'GHA', 'PSE',
       'BEN', 'BFA', 'CAF', 'CIV', 'CMR', 'DZA', 'GIN', 'GMB', 'IND',
       'LBN', 'LBR', 'LBY', 'MAR', 'MLI', 'NGA', 'OOO', 'SEN', 'SSD',
       'TCD', 'TGO', 'TUN', 'YEM', 'GNB', 'MRT', 'NER', 'AFG', 'COD',
       'COM', 'IRQ', 'SLE', 'SOM', 'COG', 'AGO', 'IRN', 'JOR', 'MDA',
       'TUR', 'UZB', 'KWT', 'NPL', 'ZAF', 'RUS', 'TKM', 'UKR', 'KAZ',
       'AZE', 'GNQ', 'MMR', 'TJK', 'DOM', 'HTI', 'KEN', 'UGA', 'CHN',
       'DJI', 'COL', 'GAB', 'GEO', 'TUV', 'BOL', 'SAU', 'LKA', 'ESH',
       'RWA', 'PHL', 'BDI'], dtype=object)

In [114]:
# nunique cuenta el número de valores únicos en una columna
df_excel['ISO3 - Country of origin'].nunique()

75

In [120]:
# value_counts cuenta la frecuencia de cada valor en una columna
df_excel['ISO3 - Country of origin'].value_counts()

ISO3 - Country of origin
SYR    71
OOO    70
EGY    58
MAR    58
CMR    54
       ..
TUV     1
SAU     1
BOL     1
ESH     1
PHL     1
Name: count, Length: 75, dtype: int64

## 📌 Explorar los valores en variables continuas


### 🏷️ Tabla de métodos para explorar valores en variables continuas

| Método      | Descripción técnica                                      | ¿Qué significa? / ¿Para qué sirve?                                      |
|-------------|---------------------------------------------------------|-------------------------------------------------------------------------|
| `mean()`    | Calcula la media de una columna numérica.               | Promedio de los valores; tendencia central de los datos.                |
| `median()`  | Calcula la mediana de una columna numérica.             | Valor central; útil si hay valores extremos (outliers).                 |
| `mode()`    | Encuentra el valor más frecuente en una columna.        | Valor que más se repite; detecta modas o repeticiones.                  |
| `std()`     | Calcula la desviación estándar de una columna.          | Mide cuánto varían los datos respecto a la media.                       |
| `var()`     | Calcula la varianza de una columna.                     | Mide la dispersión de los datos; es el cuadrado de la desviación estándar.|

Estos métodos son útiles para variables numéricas continuas.

>💡 Las variables continuas son aquellas que pueden tomar cualquier valor dentro de un rango, como la altura, el peso o la temperatura. Generalmente, tienen un número infinito de valores posibles.

In [ ]:
# Calcular la media de la columna 'Arrivals'
df_excel['Arrivals'].mean()

np.float64(117948.35934005652)

In [122]:
# Calcular la mediana de la columna 'Arrivals'
df_excel['Arrivals'].median()

np.float64(11.0)

In [124]:
# Calcular la moda de la columna 'Arrivals'
df_excel['Arrivals'].mode()[0]

np.int64(1)

In [125]:
# Calcular la desviación estándar de la columna 'Arrivals'
df_excel['Arrivals'].std()

np.float64(343.43610663419844)

In [ ]:
#Calcular la varianza de la columna 'Arrivals'
df_excel['Arrivals'].var()

## 📌 Operaciones con valores de columnas numéricas

### 🏷️ Tabla de métodos para operaciones con columnas numéricas

| Método               | Descripción                                      |
|----------------------|--------------------------------------------------|
| `sum()`             | Suma todos los valores en una columna numérica.   |
| `min()`             | Encuentra el valor mínimo en una columna numérica. |
| `max()`             | Encuentra el valor máximo en una columna numérica. |

In [126]:
# sumar todos los valores en una columna numérica
df_excel['Arrivals'].sum()

np.int64(208909)

In [127]:
#valor mínimo de la columna 'Arrivals'
df_excel['Arrivals'].min()

np.int64(-341)

In [128]:
#valor máximo
df_excel['Arrivals'].max()

np.int64(4232)

## 📌 Explorar datos agrupando (group_by) 

Se usa para resumir información cuando tenemos datos que pertenecen a distintos grupos o categorías.

> 💡 Ejemplo: si tenemos un listado de viajes de Uber, podemos usar groupby("Vehicle Type")["Price"].mean() para obtener el precio promedio por tipo de vehículo.

| Método                               | Descripción                                                          |
| ------------------------------------ | -------------------------------------------------------------------- |
| `groupby("col")["otra"].mean()`      | Calcula el promedio de otra columna dentro de cada grupo.            |
| `groupby("col")["otra"].sum()`       | Calcula la suma de otra columna en cada grupo.                       |
| `groupby("col")["otra"].count()`     | Cuenta cuántos registros hay en cada grupo.                          |
| `groupby(["col1","col2"])`           | Agrupa por más de una columna (grupos combinados).                   |
| `.agg({"col1":"mean","col2":"sum"})` | Permite aplicar varias funciones a la vez sobre diferentes columnas. |

In [227]:
df_excel.groupby("ISO3 - Country of origin")

> Al hacer group by simple, obtenemos un objeto DataFrameGroupBy. Para ver resultados, normalmente aplicamos una función agregada como sum(), mean(), count(), etc., combinando columnas numéricas con categóricas

In [228]:
# Agrupar por país de origen y ver la media
df_excel.groupby("ISO3 - Country of origin")["Arrivals"].mean()

ISO3 - Country of origin
AFG    377.583333
AGO      1.666667
AZE      2.000000
BDI      6.000000
BEN      5.391304
          ...
UGA      2.200000
UKR      2.666667
UZB      1.833333
YEM     42.648649
ZAF      2.666667
Name: Arrivals, Length: 75, dtype: float64

In [ ]:
# Agrupar por país de origen y sumar llegadas
df_excel.groupby("ISO3 - Country of origin")["Arrivals"].sum()

ISO3 - Country of origin
AFG    18124
AGO        5
AZE        4
BDI       30
BEN      124
       ...
UGA       11
UKR        8
UZB       11
YEM     1578
ZAF        8
Name: Arrivals, Length: 75, dtype: int64

In [230]:
# Agrupar por 2 columnas
grouped = df_excel.groupby(['ISO3 - Country of origin', 'ISO3 - Country of arrival'])

In [233]:
# Agrupar por 2 columnas
grouped = df_excel.groupby([
    'ISO3 - Country of origin',
    'ISO3 - Country of arrival'
    ])["Arrivals"].sum()

In [232]:
grouped

ISO3 - Country of origin  ISO3 - Country of arrival
AFG                       BGR                           1759
                          CYP                            450
                          ESP                             15
                          GRC                          14744
                          ITA                           1156
                                                       ...
YEM                       GRC                           1466
                          ITA                             29
ZAF                       CYP                              5
                          ESP                              2
                          ITA                              1
Name: Arrivals, Length: 216, dtype: int64

# 🔄 4. Transformaciones de datos
En este bloque aprenderemos a **manipular y transformar** nuestros datos en Pandas. 

Veremos cómo **añadir, eliminar y renombrar columnas**, así como manejar los valores faltantes con **fillna** y **dropna**.

Tabla de resumen de métodos para transformar datos en Pandas:
| Método               | Descripción                                      |
|----------------------|--------------------------------------------------|
| `assign()`           | Añade nuevas columnas al DataFrame.              |
| `drop()`             | Elimina filas o columnas del DataFrame.          |
| `rename()`           | Cambia los nombres de las columnas o índices.    |
| `fillna()`           | Rellena los valores faltantes con un valor específico o método. |
| `dropna()`           | Elimina filas o columnas con valores faltantes.   |

## 📌 Añadir, eliminar y renombrar columnas

In [107]:
# Añadir una nueva columna
df_excel['New_Column'] = 'Default_Value'
df_excel.head()

,ISO3 - Country of origin,Date,Year,Month,ISO3 - Country of arrival,Route,Arrivals,Source,New_Column
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ...",Default_Value

In [ ]:
#Esto se puede utilizar para crear columnas basadas en cálculos o transformaciones de otras columnas. Por ejemplo:
df_excel['Year_plus_1'] = df_excel['Year'] + 1
df_excel.head()

In [ ]:
# Eliminar una columna
df_excel.drop(columns=['New_Column'], inplace=True)
df_excel.head()

In [ ]:
# Eliminar varias columnas a la vez
df_excel.drop(columns=['Year_plus_1', 'Year'], inplace=True)
df_excel.head()

In [130]:
# Renombrar columnas
df_excel.rename(
    columns={
        'ISO3 - Country of origin': 'Country_of_origin',
        'ISO3 - Country of arrival': 'Country_of_arrival'
    },
    inplace=True
)
df_excel.head()

,Country_of_origin,Date,Year,Month,Country_of_arrival,Route,Arrivals,Source,New_Column
0,BGD,2024-01-31,2024,1,MLT,CMR,7,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
1,EGY,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
2,PAK,2024-01-31,2024,1,MLT,CMR,22,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
3,SDN,2024-01-31,2024,1,MLT,CMR,1,"Maltese Minitry of Home Affairs, Security and ...",Default_Value
4,SYR,2024-01-31,2024,1,MLT,CMR,4,"Maltese Minitry of Home Affairs, Security and ...",Default_Value

In [131]:
# Reordenar columnas
df_excel = df_excel[
    ['Country_of_origin', 
    'Country_of_arrival',
    'Date',
    'Arrivals',
    'Month',
    "Source"]]
df_excel.head()

,Country_of_origin,Country_of_arrival,Date,Arrivals,Month,Source
0,BGD,MLT,2024-01-31,7,1,"Maltese Minitry of Home Affairs, Security and ..."
1,EGY,MLT,2024-01-31,1,1,"Maltese Minitry of Home Affairs, Security and ..."
2,PAK,MLT,2024-01-31,22,1,"Maltese Minitry of Home Affairs, Security and ..."
3,SDN,MLT,2024-01-31,1,1,"Maltese Minitry of Home Affairs, Security and ..."
4,SYR,MLT,2024-01-31,4,1,"Maltese Minitry of Home Affairs, Security and ..."

## 📌 Verificación y cambio de tipo de datos
### 🏷️ Tabla de métodos para verificación y cambio de tipo de datos
| Método               | Descripción                                      |
|----------------------|--------------------------------------------------|
| `dtypes`            | Muestra el tipo de datos de cada columna.        |
| `astype(tipo)`      | Cambia el tipo de datos de una columna.          |

Es importante asegurarse de que cada columna tenga el tipo de dato correcto para evitar errores en análisis posteriores.

Por ejemplo, si una columna contiene números pero está almacenada como texto (string), no podremos realizar operaciones matemáticas con ella hasta convertirla al tipo numérico adecuado.

In [170]:
# ver el tipo de datos de cada columna
df_csv.dtypes

Date                                         object
Time                                 datetime64[ns]
Booking ID                                   object
Booking Status                               object
Customer ID                                  object
Vehicle Type                         string[python]
Pickup Location                      string[python]
Drop Location                        string[python]
Avg VTAT                                    float64
Avg CTAT                                    float64
Cancelled Rides by Customer                 float64
Reason for cancelling by Customer            object
Cancelled Rides by Driver                   float64
Driver Cancellation Reason                   object
Incomplete Rides                            float64
Incomplete Rides Reason              string[python]
Booking Value                               float64
Ride Distance                               float64
Driver Ratings                              float64
Customer Rating                             float64
Payment Method                       string[python]
dtype: object

> El tipo de dato object es el tipo de dato más general en Pandas y puede contener cualquier tipo de dato, pero generalmente se usa para datos de texto (strings) o datos mixtos.

In [165]:
df_csv.head()  # Muestra las primeras filas del DataFrame

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,1900-01-01 12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-11-29,1900-01-01 18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.0,5.73,NaN,NaN,UPI
2,2024-08-23,1900-01-01 08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,NaN,627.0,13.58,4.9,4.9,Debit Card
3,2024-10-21,1900-01-01 17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,NaN,416.0,34.02,4.6,5.0,UPI
4,2024-09-16,1900-01-01 22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,NaN,737.0,48.21,4.1,4.3,UPI

In [ ]:
# A este conjunto de datos tendríamos que hacerle los siguientes cambios de tipos de datos:

# Cambiar columna Date a tipo date 
df_csv['Date'] = pd.to_datetime(df_csv['Date']).dt.date

In [164]:
# - Cambiar 'Vehicle_type' a tipo string
df_csv['Vehicle Type'] = df_csv['Vehicle Type'].astype('string')

In [169]:
# Cambiar varias columnas a tipo string
df_csv[
    ['Pickup Location',
     'Drop Location',
     'Incomplete Rides Reason',
     'Payment Method']
] = df_csv[
    ['Pickup Location',
     'Drop Location',
     'Incomplete Rides Reason',
     'Payment Method']
].astype('string')

## 📌 Manejo de valores nulos

En Pandas, los valores nulos o faltantes se representan con `NaN` (Not a Number).
Se pueden manejar de varias formas:
- **Rellenar valores nulos**: Usando `fillna()`, puedes reemplazar los valores nulos con un valor específico, la media, la mediana, etc.
- **Eliminar valores nulos**: Con `dropna()`, puedes eliminar filas o columnas que contengan valores nulos.

> Importante! Asegúrate de entender bien el contexto de tus datos antes de decidir cómo manejar los valores nulos, ya que diferentes enfoques pueden afectar significativamente tus análisis posteriores.

In [108]:
# Remplazo de valores nulos
df_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150000 entries, 0 to 149999
Data columns (total 21 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   Date                               150000 non-null  object
 1   Time                               150000 non-null  object
 2   Booking ID                         150000 non-null  object
 3   Booking Status                     150000 non-null  object
 4   Customer ID                        150000 non-null  object
 5   Vehicle Type                       150000 non-null  object
 6   Pickup Location                    150000 non-null  object
 7   Drop Location                      150000 non-null  object
 8   Avg VTAT                           139500 non-null  float64
 9   Avg CTAT                           102000 non-null  float64
 10  Cancelled Rides by Customer        10500 non-null   float64
 11  Reason for cancelling by Customer  10500 non-null   object
 12  Cancelled Rides by Driver          27000 non-null   float64
 13  Driver Cancellation Reason         27000 non-null   object
 14  Incomplete Rides                   9000 non-null    float64
 15  Incomplete Rides Reason            9000 non-null    object
 16  Booking Value                      102000 non-null  float64
 17  Ride Distance                      102000 non-null  float64
 18  Driver Ratings                     93000 non-null   float64
 19  Customer Rating                    93000 non-null   float64
 20  Payment Method                     102000 non-null  object
dtypes: float64(9), object(12)
memory usage: 24.0+ MB

In [132]:
# Porcentaje de nulos por columna. Suma los nulos y lo divide por el total de filas, 
# multiplicado por 100 para obtener el porcentaje.
(df_csv.isnull().sum() / len(df_csv)) * 100

Date                                  0.0
Time                                  0.0
Booking ID                            0.0
Booking Status                        0.0
Customer ID                           0.0
Vehicle Type                          0.0
Pickup Location                       0.0
Drop Location                         0.0
Avg VTAT                              7.0
Avg CTAT                             32.0
Cancelled Rides by Customer          93.0
Reason for cancelling by Customer    93.0
Cancelled Rides by Driver            82.0
Driver Cancellation Reason           82.0
Incomplete Rides                     94.0
Incomplete Rides Reason              94.0
Booking Value                        32.0
Ride Distance                        32.0
Driver Ratings                       38.0
Customer Rating                      38.0
Payment Method                       32.0
dtype: float64

**💡 Estrategia para manejar nulos**

- Para estadísticas y análisis generales, normalmente se prefieren columnas con menos nulos, por ejemplo:

    - Avg VTAT (~7% nulos) → aceptable para análisis general

    - Avg CTAT (~32% nulos) → todavía manejable con imputación

- Columnas como Cancelled Rides by Customer o Incomplete Rides tienen más del 90% nulos, lo que indica que:

    - Solo aplican a un subconjunto específico de datos. Lo mejor es no imputar valores, sino tratarlas como información condicional (por ejemplo, filtrar filas donde hay cancelaciones o rides incompletos).

- Columnas como Booking Value, Ride Distance y Payment Method (~32% nulos) pueden imputarse con cuidado, por ejemplo:

    - Rellenar valores faltantes con la media, mediana o categoría “Desconocido” si es categórica.

✅ Recomendación

- Para análisis general: Avg VTAT, Avg CTAT, Driver Ratings, Customer Rating → nulos relativamente bajos/moderados.

- Para análisis condicional (eventos específicos): Cancelled Rides by Customer, Cancelled Rides by Driver, Incomplete Rides → tratar nulos como 0 o no aplicable según el contexto.

- Columnas categóricas con nulos moderados: Payment Method → imputar con "Unknown" si se requiere completar datos.

In [174]:
# Boking value tiene muchos nulos, se puede imputar con la media con fillna
df_csv['Booking Value'].fillna(df_csv['Booking Value'].mean())
df_csv

,Date,Time,Booking ID,Booking Status,Customer ID,Vehicle Type,Pickup Location,Drop Location,Avg VTAT,Avg CTAT,...,Reason for cancelling by Customer,Cancelled Rides by Driver,Driver Cancellation Reason,Incomplete Rides,Incomplete Rides Reason,Booking Value,Ride Distance,Driver Ratings,Customer Rating,Payment Method
0,2024-03-23,1900-01-01 12:29:38,"""CNR5884300""",No Driver Found,"""CID1982111""",eBike,Palam Vihar,Jhilmil,NaN,NaN,...,NaN,NaN,NaN,NaN,<NA>,508.295912,NaN,NaN,NaN,<NA>
1,2024-11-29,1900-01-01 18:01:39,"""CNR1326809""",Incomplete,"""CID4604802""",Go Sedan,Shastri Nagar,Gurgaon Sector 56,4.9,14.0,...,NaN,NaN,NaN,1.0,Vehicle Breakdown,237.000000,5.73,NaN,NaN,UPI
2,2024-08-23,1900-01-01 08:56:10,"""CNR8494506""",Completed,"""CID9202816""",Auto,Khandsa,Malviya Nagar,13.4,25.8,...,NaN,NaN,NaN,NaN,<NA>,627.000000,13.58,4.9,4.9,Debit Card
3,2024-10-21,1900-01-01 17:17:25,"""CNR8906825""",Completed,"""CID2610914""",Premier Sedan,Central Secretariat,Inderlok,13.1,28.5,...,NaN,NaN,NaN,NaN,<NA>,416.000000,34.02,4.6,5.0,UPI
4,2024-09-16,1900-01-01 22:08:00,"""CNR1950162""",Completed,"""CID9933542""",Bike,Ghitorni Village,Khan Market,5.3,19.6,...,NaN,NaN,NaN,NaN,<NA>,737.000000,48.21,4.1,4.3,UPI
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149995,2024-11-11,1900-01-01 19:34:01,"""CNR6500631""",Completed,"""CID4337371""",Go Mini,MG Road,Ghitorni,10.2,44.4,...,NaN,NaN,NaN,NaN,<NA>,475.000000,40.08,3.7,4.1,Uber Wallet
149996,2024-11-24,1900-01-01 15:55:09,"""CNR2468611""",Completed,"""CID2325623""",Go Mini,Golf Course Road,Akshardham,5.1,30.8,...,NaN,NaN,NaN,NaN,<NA>,1093.000000,21.31,4.8,5.0,UPI
149997,2024-09-18,1900-01-01 10:55:15,"""CNR6358306""",Completed,"""CID9925486""",Go Sedan,Satguru Ram Singh Marg,Jor Bagh,2.7,23.4,...,NaN,NaN,NaN,NaN,<NA>,852.000000,15.93,3.9,4.4,Cash
149998,2024-10-05,1900-01-01 07:53:34,"""CNR3030099""",Completed,"""CID9415487""",Auto,Ghaziabad,Saidulajab,6.9,39.6,...,NaN,NaN,NaN,NaN,<NA>,333.000000,45.54,4.1,3.7,UPI
149999,2024-03-10,1900-01-01 15:38:03,"""CNR3447390""",Completed,"""CID4108667""",Premier Sedan,Ashok Park Main,Gurgaon Sector 29,3.5,33.7,...,NaN,NaN,NaN,NaN,<NA>,806.000000,21.19,4.6,4.9,Credit Card

In [191]:
df_csv["Vehicle Type"].value_counts()

Vehicle Type
Auto             37419
Go Mini          29806
Go Sedan         27141
Bike             22517
Premier Sedan    18111
eBike            10557
Uber XL           4449
Name: count, dtype: int64

In [172]:
# Con dropna podemos eliminar filas con nulos
df_csv.dropna(subset=['Booking Value'], inplace=True)

## 📌 Remplazo de valores

A veces es necesario reemplazar valores específicos en una columna, por ejemplo, para agrupar categorías similares o corregir errores tipográficos.

Para tomar decisiones informadas sobre qué valores reemplazar, es útil explorar los valores únicos y sus frecuencias en las columnas.

Algunos de los métodos más comunes para conocer los valores de las columnas son:

### 🏷️ Tabla de métodos para explorar valores únicos y frecuencias
| Método         | Descripción                                                                                                   |
|----------------|--------------------------------------------------------------------------------------------------------------|
| `unique()`     | Identifica los valores únicos en una columna, útil para entender qué valores pueden necesitar ser reemplazados.|
| `value_counts()`| Cuenta la frecuencia de cada valor único en una columna, ayudando a identificar valores atípicos o errores.   |
| `nunique()`    | Devuelve el número de valores únicos en una columna, proporcionando una visión rápida de la diversidad de datos.|

In [184]:
# Identificar valores únicos en una columna
df_csv['Payment Method'].unique()

array([nan, 'UPI', 'Debit Card', 'Cash', 'Uber Wallet', 'Credit Card'],
      dtype=object)

In [185]:
# Identificar los valores y su frecuencia en una columna
df_csv['Payment Method'].value_counts()

Payment Method
UPI            45909
Cash           25367
Uber Wallet    12276
Credit Card    10209
Debit Card      8239
Name: count, dtype: int64

In [186]:
# con nunique podemos ver el número de valores únicos en una columna
df_csv['Payment Method'].nunique()

5

Una vez que se entienden los valores presentes en una columna, se pueden realizar las transformaciones necesarias, generalmente mediante remplazos.
Los métodos más comunes para reemplazar valores en una columna son:
- `replace()`: Permite reemplazar valores específicos en una columna o DataFrame.
- `map()`: Útil para reemplazar valores basados en un diccionario de mapeo.
- `apply()`: Permite aplicar una función personalizada para transformar los valores de una columna.

In [189]:
# Remplazo de valores específicos en una columna con replace
df_csv['Payment Method'].replace({'Credit Card': 'Card', 'Debit Card': 'Card'}, inplace=True)

C:\Users\amval\AppData\Local\Temp\ipykernel_5288\1757437213.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_csv['Payment Method'].replace({'Credit Card': 'Card', 'Debit Card': 'Card'}, inplace=True)

In [190]:
df_csv['Payment Method'].value_counts()

Payment Method
UPI            45909
Cash           25367
Card           18448
Uber Wallet    12276
Name: count, dtype: int64

In [ ]:
# Remplazo de valores con map. 
# Hay que tener en cuenta que los valores que no estén en el diccionario se convierten en NaN
dict_map = {
    'eBike': 'Electric Bike',
    'Go Sedan': 'Gasoline Sedan',
    'Go Mini'   : 'Gasoline Mini'
}
df_csv['Vehicle Type'] = df_csv['Vehicle Type'].map(dict_map)

In [ ]:
# remplazo de valores con apply y una función personalizada
def standardize_payment_method(method):
    if method in ['Credit Card', 'Debit Card']:
        return 'Card'
    elif method in ['Cash', 'Mobile Payment']:
        return method #el mismo valor que tenga
    else:
        return 'Other'
    
df_csv['Payment Method'] = df_csv['Payment Method'].apply(standardize_payment_method)

Explicación: Una función personalizada llamada standardize_payment_method se define para estandarizar los métodos de pago.

Gracias a los condicionales, los métodos 'Credit Card' y 'Debit Card' se reemplazan por 'Card', mientras que otros métodos se mantienen igual o se etiquetan como 'Other'.

Esta función se aplica a cada valor de la columna 'Payment Method' utilizando el método apply, y los resultados se asignan de nuevo a la misma columna.

In [ ]:
df_csv['Payment Method'].value_counts()

## 📌 Columnas con valores condicionales

In [195]:
mapeo = {
    "Auto": "Economy",
    "Go Mini": "Economy",
    "Go Sedan": "Standard",
    "Premier Sedan": "Premium",
    "Uber XL": "Large",
    "Bike": "Two-wheeler",
    "eBike": "Two-wheeler"
}

In [196]:
df_csv["vehicle_category"] = df_csv["Vehicle Type"].map(mapeo)

In [203]:
#Creación de una nueva columna con más condiciones
def clasificar(row):
    if row["vehicle_category"] == "Economy" and row["Booking Status"] == "Completed":
        return "Éxito"
    elif "Cancelled" in row["Booking Status"]:
        return "Cancelado"
    else:
        return "Otro"

df_csv["status_simple"] = df_csv.apply(clasificar, axis=1)

> A cada fila se le pasa la función clasificar, esta devuelve un valor (por ejemplo "Cancelado" o "Completado"), y ese valor se guarda en la columna status_simple.

____
#Transpose 
#Merging, Joining, y Concatenating

Hay tres principales formas de combinar `pd.DataFrame`: *merge*, *join* y *concatenate*. Iremos sobre cada uno de ellos.

### DataFrames de muestra

In [ ]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                        'B': ['B0', 'B1', 'B2', 'B3'],
                        'C': ['C0', 'C1', 'C2', 'C3'],
                        'D': ['D0', 'D1', 'D2', 'D3']},
                        index=[0, 1, 2, 3])

In [ ]:
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                        'B': ['B4', 'B5', 'B6', 'B7'],
                        'C': ['C4', 'C5', 'C6', 'C7'],
                        'D': ['D4', 'D5', 'D6', 'D7']},
                         index=[4, 5, 6, 7])

In [ ]:
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                        'B': ['B8', 'B9', 'B10', 'B11'],
                        'C': ['C8', 'C9', 'C10', 'C11'],
                        'D': ['D8', 'D9', 'D10', 'D11']},
                        index=[8, 9, 10, 11])

## Concatenación

Esta operación únicamente pega los datos. Por tanto, las dimensiones de los objetos que intervienen en la operación deben de encajar sobre el eje que se realice la misma.

In [ ]:
pd.concat([df1,df2,df3])

In [ ]:
pd.concat([df1,df2,df3],axis=1)

___

## Merging

La función **merge** permite combinar DataFrames usando una lógica similar a la de las tablas SQL.

In [ ]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
   
right = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3'],
                          'C': ['C0', 'C1', 'C2', 'C3'],
                          'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left,right,how='inner',on='key')

Un ejemplo algo más elaborado

In [ ]:
left = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
    
right = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
pd.merge(left, right, on=['key1', 'key2']) #how = 'inner'

In [ ]:
pd.merge(left, right, how='outer', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='right', on=['key1', 'key2'])

In [ ]:
pd.merge(left, right, how='left', on=['key1', 'key2'])

## Joining

La operación *join* es un método muy adecuado para combinar columnas de DataFrames cuyos índices sean potencialmente distintos.

In [ ]:
left = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                     'B': ['B0', 'B1', 'B2']},
                      index=['K0', 'K1', 'K2']) 

right = pd.DataFrame({'C': ['C0', 'C2', 'C3'],
                    'D': ['D0', 'D2', 'D3']},
                      index=['K0', 'K2', 'K3'])

In [ ]:
left.join(right)

In [ ]:
left.join(right, how='outer')

**Pivotar tablas**

In [ ]:
data = {'A':['foo','foo','foo','bar','bar','bar'],
     'B':['one','one','two','two','one','one'],
       'C':['x','y','x','y','x','y'],
       'D':[1,3,2,5,4,1]}

df = pd.DataFrame(data)
print(df)

In [ ]:
df.pivot_table(values='D',index=['A', 'B'],columns=['C'])